<h4>Administrative users</h4>
<div class='table-responsive'>
  <table class="table table-striped">
    <thead>
      <tr>
        <th>Name</th>
        <th>Email</th>
        <th></th>
      </tr>
    </thead>

    <tbody>
      <% @organizer.participants.each do |participant| %>
      <tr>
        <td><%= participant.name %></td>
        <td><%= participant.email %></td>
        <td><%# if current_participant.admin? %>
          <%#= link_to 'Remove', [@organizer, participant], method: :nullify, data: { confirm: 'Remove this user from the administration of your organizer on CrowdAI?' }, class: 'btn btn-small btn-danger outline' %>
          <%# end %>
        </td>
      </tr>
      <% end %>
    </tbody>
  </table>

</div>
