<div id='api-key'>
  <% if policy(:organizer).edit? %>
  <p>
    <strong>API Key:</strong>
    <%= organizer.api_key %>
    <span class='pull-right'><%= awesome_link 'refresh', 'Regenerate Key', organizer_regen_api_key_path(organizer), remote: true %></span>
  </p>
  <% end %>
</div>
