<div class="row" id='leaderboard-footer'>
  <form class="leaderboard">
    <input type="checkbox" id="switch" name="switch" class="switch">
    <label for="switch">Show post-challenge submissions</label>
  </form>
  <p class="light">Entries column includes entries not yet graded which, when graded, may affect the contents of this leaderboard.</p>
</div>
