<div class="row">
  <form class="leaderboard">
    <%= link_to challenge_leaderboards_path(challenge) do %>
      <input type="checkbox" id="switch" name="switch" class="switch" checked>
      <label for="switch" data-on="Yes" data-off="No" class="post-challenge">Show post-challenge submissions</label>
    <% end %>
  </form>
  <p class="light">Entries column includes entries not yet graded which, when graded, may affect the contents of this leaderboard.</p>
</div>
