<content>
  <%= concept(Challenge::Cell::ChallengeMasthead, @challenge) %>
  <%= concept(Challenge::Cell::ChallengeSubnav, @challenge, tab: 'leaderboard') %>

  <div class="row">
    <table class="leaderboard">
      <%= concept(Leaderboard::Cell::TableHead, @leaderboard, challenge: @challenge) %>
      <tbody>
        <%#= render partial: 'leaderboards' %>
      </tbody>
    </table>
  </div>

  <div class="row">
    <form class="leaderboard">
      <input type="checkbox" id="switch" name="switch" class="switch">
      <label for="switch">Show post-challenge submissions</label>
    </form>
    <p class="light">Entries column includes entries not yet graded which, when graded, may affect the contents of this leaderboard.</p>
  </div>

  <div id='modal-anchor'></div>


  <%#= concept(Leaderboard::Cell, @leaderboard, challenge: @challenge) %>
  <%#= render partial: 'shared/load_more', locals: { collection: @leaderboard } %>
</content>
