<footer>
  <div class="row">
    <a class="logo-footer" href="http://epfl.ch/"><img src="assets/epfl-logo.png" alt=""></a>
    <p class="copyright">&#9400; 2017 crowdAI</p>
    <ul class="social">
      <li><a href="https://twitter.com/crowd_ai"><i class="fa fa-twitter fa-lg" aria-hidden="true"></i></a></li>
      <li><a href="https://github.com/crowdAI"><i class="fa fa-github fa-lg" aria-hidden="true"></i></li>
    </ul>
    <ul class="links">
      <li><%= link_to 'Contact', page_path('contact') %></li>
      <li><%= link_to 'Privacy', page_path('privacy') %></li>
      <li><%= link_to 'Terms of Service', page_path('terms') %></li>
    </ul>
  </div>
</footer>
