<footer>
  <div class="row">
    <a class="logo-footer" href="http://epfl.ch/"><img src="assets/epfl-logo.png" alt=""></a>
    <p class="copyright">&#9400; 2017 crowdAI</p>
    <ul class="social">
      <li><a href="https://twitter.com/crowd_ai"><i class="ss-icon ss-social-regular">twitter</i></a></li>
      <li><a href="https://github.com/crowdAI"><i class="ss-icon ss-social-regular">github</i></a></li>
    </ul>
    <ul class="links">
      <li><a href="#">Contact</a></li>
      <li><a href="#">Privacy</a></li>
      <li><a href="#">Terms of Service</a></li>
    </ul>
  </div>
</footer>
