<div class="tab-pane" id="activity">
  <br/>
  <% if @user.posts.any? %>
  <ul class="list-group">
    <% @user.posts.each do |post| %>
    <li class="list-group-item"><%= markdown(post.post) %></li>
    <% end %>
  </ul>
<% else %>
  <h3><%= @user.username %>
    has not yet made any posts.</h3>
  <% end %>
</div>
