<div class="tab-pane" id="challenges">

  <% if @user.challenges.any? %>
    <ul class="list-group">
      <% @user.challenges.each do |comp| %>
        <li class="list-group-item"><%= comp.challenge %></li>
      <% end %>
    </ul>
  <% else %>
    <br/>
    <h3><%= @user.name %> has not yet entered any challenges.</h3>
  <% end %>

</div>
