<% content_for :header do %>
  <div class="page-header">
    <h1><%= image_tag('http://loremflickr.com/g/320/320/profile', size: "170x170", class: 'img-rounded ing-responsive') %>
        <%= @user.username %></h1>
        15 Entries 3 Gold 1 Silver<br/>
        <% if @user == current_user || current_user.admin %>
          <%= link_to 'Edit', edit_user_path(@user), class: 'btn btn-success' %>
        <% end %>
    </div>
<% end %>
