<div class="tab-pane" id="account">

  <h1>Account</h1>

  <h3>Cancel my account</h3>

  <p><%= link_to "Cancel my account", registration_path(@user), data: { confirm: "Are you sure?" }, method: :delete %></p>
</div>
