<content>
    <div class="masthead-detailed">
        <div class="row">
            <div class="pic pic-user">
                <img src="assets/img/hosts/host-1.png" alt="">
            </div>
            <div class="info info-user">
                <div class="heading-w-icon">
                    <h2>crowdAI</h2><a href="user-profile-edit.html" title="Edit profile"><i class="fa fa-pencil-square-o fa-lg" aria-hidden="true"></i></a>
                </div>
                <p class="large">Fighting with Data for Science</p>
                <p><span>Campus Biotech Chemin des Mines 9, 1202 Genève</span></p>
                <div class="text-w-icon">
                    <p><strong>API key:</strong> 0255e9e07b6eb9b1d6abe3d53b126c4a</p><a href="#" title="Refresh API key"><i class="fa fa-refresh" aria-hidden="true"></i></a>
                </div>
            </div>
        </div>
    </div>

    <div class="sub-nav">
        <div class="row">
            <ul>
                <li class="active">Challenges <sup>3</sup></li>
                <li><a href="#">Members <sup>2</sup></a></li>
            </ul>
            <a class="btn btn-primary" data-remodal-target="modal">Add Members</a>
        </div>
    </div>

    <div class="row">
        <ul class="list-challenges">
            <li>
                <div class="pic">
                    <a href="#"><img src="assets/img/challenges/challenge-2.jpg" alt=""></a>
                </div>
                <div class="details">
                    <h5><a href="#">Challenge Title</a></h5>
                    <p class="description">Brief description brief description brief description brief description</p>
                    <p class="status active">XX days left</p>
                </div>
                <div class="stats">
                    <div class="stat-fr">
                        27<br>
                        <span>Submissions</span>
                    </div>
                    <div class="stat-fr">
                        142<br>
                        <span>Particpants</span>
                    </div>
                    <div class="stat-fr">
                        1,034<br>
                        <span>Views</span>
                    </div>
                </div>
            </li>

            <li>
                <div class="pic">
                    <a href="#"><img src="assets/img/challenges/challenge-2.jpg" alt=""></a>
                </div>
                <div class="details">
                    <h5><a href="#">Challenge Title</a></h5>
                    <p class="description">Brief description brief description brief description brief description</p>
                    <p class="status active">XX days left</p>
                </div>
                <div class="stats">
                    <div class="stat-fr">
                        27<br>
                        <span>Submissions</span>
                    </div>
                    <div class="stat-fr">
                        142<br>
                        <span>Particpants</span>
                    </div>
                    <div class="stat-fr">
                        1,034<br>
                        <span>Views</span>
                    </div>
                </div>
            </li>

            <li>
                <div class="pic">
                    <a href="#"><img src="assets/img/challenges/challenge-2.jpg" alt=""></a>
                </div>
                <div class="details">
                    <h5><a href="#">Challenge Title</a></h5>
                    <p class="description">Brief description brief description brief description brief description</p>
                    <p class="status">Completed</p>
                </div>
                <div class="stats">
                    <div class="stat-fr">
                        27<br>
                        <span>Submissions</span>
                    </div>
                    <div class="stat-fr">
                        142<br>
                        <span>Particpants</span>
                    </div>
                    <div class="stat-fr">
                        1,034<br>
                        <span>Views</span>
                    </div>
                </div>
            </li>
        </ul>
    </div>
</content>
