/.bundle


# Ignore all logfiles and tempfiles.
/log/*
!/log/.keep
/tmp
/public/uploads
/coverage
config/application.yml
.DS_Store
*.swp
public/assets_test/*
public/assets/*
screenshot*
.byebug_history
scripts/challenges/openfood/public_500/images/*
scripts/dev_from_prd.sh
scripts/stg_from_prd.sh
/public/packs
/node_modules
spec/examples.txt
/public/assets/**
storage/*
