language: ruby

sudo: required
dist: trusty
addons:
    postgresql: "9.6"

services:
    - postgresql
    - redis-server

rvm:
  - 2.3.4

env:
  - DB=postgres

before_script:
  - psql -c 'create database crowdai_test;' -U postgres

before_install:
  - "export DISPLAY=:99.0"
  - "sh -e /etc/init.d/xvfb start"
  - sleep 3 # give xvfb some time to start
