<div class="masthead">
  <div class="row">
    <h2>Account Settings</h2>
  </div>
</div>
<div class="sub-nav">
  <div class="row">
    <ul>
      <li><%= link_to 'Email & Password', edit_participant_registration_path %></li>
      <li class="active">Email Notifications</li>
    </ul>
  </div>
</div>
