<content>
  <%= render 'header' %>
  <%= render 'form' %>

	<div class="additional">
		<div class="row">
			<a data-remodal-target="modal">Delete my account</a>
		</div>
	</div>
</content>

<%= render partial: 'shared/delete_modal' %>
