<div class="container-medium-grey">
  <div class="row">
    <div class="col-md-4 col-md-offset-4">

      <h1>Email Preferences</h1>
      <%= render 'form' %>
    </div></div>
    <br/><br/><br/><br/><br/>
</div>
