<div class="masthead">
  <div class="row">
    <h2>Account Settings</h2>
  </div>
</div>

<div class="sub-nav">
  <div class="row">
    <ul>
      <li class="active">Email &amp; Password</li>
      <li><%= link_to 'Email Notifications', edit_participant_email_preference_path(@participant,@participant.email_preferences.first) %></li>
    </ul>
  </div>
</div>
