<% if @reset_dttm.nil? %>
  <% if @challenge.challenge_rounds.count > 1 %>
    <p>You do not have any submissions remaining for this period.</p>
  <% else %>
    <p>You do not have any submissions remaining for this challenge.</p>
  <% end %>
<% else %>
  <h3>You do not have any submissions remaining, you will be able to submit again as of <%= @reset_dttm %></h3>
<% end %>
