<div class="tab-pane active" id="challenges">

  <% if @participant.participant_challenges.any? %>
    <ul class="list-group">
      <% @participant.participant_challenges.each do |pc| %>
        <li class="list-group-item">
          <%= link_to pc.challenge.challenge, challenge_path(pc.challenge_id) %>
        </li>
      <% end %>
    </ul>
  <% else %>
    <br/>
    <h3><%= @participant.name %> has not yet entered any challenges.</h3>
  <% end %>

</div>
