<div class="tab-pane" id="reputation">
  <br/>

        <% if @participant.votes.any? %>
          <p><%= @participant.votes.count + 5 %> points</p>
        <% else %>
          <p>5 points</p>
        <% end %>

</div>
