<div class="discussion-comment">
  <%= form_for [@topic, @comment], html: { class: 'add-comment', id: 'new_comment' } do |f| %>
    <%= f.text_area :comment_markdown, value: @comment.comment_markdown, autofocus: true %>
    <%= f.submit 'Update comment', class: 'btn btn-primary pull-right' %>
  <% end %>
</div>
