<div class="discussion-comment">
  <%= form_for topic_comments_path(@topic, @comment) do |f| %>
    <%= f.text_area :comment_markdown, value: @comment.comment_markdown, autofocus: true %>
    <%= f.submit %>
  <% end %>
</div>
