<div class="content">
	<div class="masthead">
		<div class="row">
			<div class="info">
        <h6><%= @task.task %></h6>
        <h2>Edit Task</h2>
			</div>
		</div>
	</div>
  <%= render 'form' %>
</div>
