<div class="row">
  <ul class="list-tutorials">
    <%= concept('article/cell/list_detail', collection: articles) %>
  </ul>
</div>

<% unless articles.last_page? %>
  <div id="load-more">
    <%= link_to "Load more", load_more_articles_path(page: articles.next_page), remote: true %>
  </div>
<% end %>
