<div id='section-<%= article_section.section.parameterize %>'>
  <% if policy(article).update? %>
    <div class="pull-right">
      <%= glyphicon_link 'pencil', 'Edit', edit_article_article_section_path(article,article_section), remote: true %>
    </div>
  <% end %>
  <h1><%= article_section.section %></h1>
  <div class='markdown-wrap'>
    <%= article_section.description.html_safe if article_section.description %>
  </div>
</div>
