<p id="notice"><%= notice %></p>

<div class="jumbotron">
  <h2>Become a Hosting Institution on CrowdAI and draw on a global pool of researchers,
    data scientists and machine learning experts.</h2>
</div>



<%= link_to 'Host Competitions', new_hosting_institution_path, class: 'btn btn-primary' %>



<h1>Already hosting on CrowdAI</h1>

<% @hosting_institutions.each do |hosting_institution| %>
  <div class="jumbotron">
    <h4><%= hosting_institution.institution %></h4>
    <%= hosting_institution.description %>
  </div>

<% end %>
