<div class='content'>
  <div class="masthead">
    <div class="row">
      <div class="info">
        <h2><%= @challenge_call.title %></h2>
        <p class='color-accent'>Closing date: <%= @challenge_call.closing_date.strftime("%d %b %H:%M UTC") %></p>
      </div>
    </div>
  </div>
  <div class="row">
    <div class='article'>
      <p><%= @challenge_call.description %></p>
      <h2>Thank you</h2>
      <p>Your submisson has been received, and you will contacted by a member of our team.</p>
    </div>
  </div>
</div>
