<% content_for(:sidebar) do %>
  <ul class="nav nav-stacked sidebar-menu">
    <% if @article %>
      <% @article.article_sections.each do |section| %>
        <li><%= link_to section.section, article_path(@article, anchor: section.section.parameterize) %></li>
      <% end %>
      <%#= link_to 'Comments', article_path(@article, anchor: 'comments') %>
      <% if policy(@article).update? %>
        <hr/>
        <li><%= link_to 'Add Section', new_article_article_section_path(@article), remote: true %></li>
        <li><%= link_to 'Delete Article', @article, method: :delete, data: { confirm: 'Are you sure?' } %></li>
      <% end %>
    <% end %>
  </ul>
<% end %>
