<content>
      <div class="masthead">
          <div class="row">
              <h2>Knowledge Base</h2>
          </div>
          <div class="row">
              <div class="info">
                  <p class="large">High quality tutorials and resources to help data scientists at all levels of expertise, from beginners to experts.</p>
              </div>
          </div>
      </div>

      <div class="row">
          <ul class="list-tutorials">
              <li>
                  <div class="pic">
                      <a href="#"><img src="assets/img/tutorials/tutorial-1.jpg" alt=""></a>
                  </div>
                  <div class="details">
                      <h5><a href="#">Tutorial Title</a></h5>
                      <p class="description">Brief description brief description brief description brief description</p>
                      <p class="user">By <a href="#">LiberiFatali</a> | <a href="#">Tensorflow</a></p>
                  </div>
                  <div class="stats">
                      <div class="stat-fr">
                          74<br>
                          <span>Likes</span>
                      </div>
                      <div class="stat-fr">
                          1,034<br>
                          <span>Views</span>
                      </div>
                  </div>
              </li>

              <li>
                  <div class="pic">
                      <a href="#"><img src="assets/img/tutorials/tutorial-1.jpg" alt=""></a>
                  </div>
                  <div class="details">
                      <h5><a href="#">Tutorial Title</a></h5>
                      <p class="description">Brief description brief description brief description brief description</p>
                      <p class="user">By <a href="#">LiberiFatali</a> | <a href="#">Tensorflow</a></p>
                  </div>
                  <div class="stats">
                      <div class="stat-fr">
                          74<br>
                          <span>Likes</span>
                      </div>
                      <div class="stat-fr">
                          1,034<br>
                          <span>Views</span>
                      </div>
                  </div>
              </li>

              <li>
                  <div class="pic">
                      <a href="#"><%= image_tag "tutorials/tutorial-1.jpg", alt: "" %></a>
                  </div>
                  <div class="details">
                      <h5><a href="#">Tutorial Title</a></h5>
                      <p class="description">Brief description brief description brief description brief description</p>
                      <p class="user">By <a href="#">LiberiFatali</a> | <a href="#">Tensorflow</a></p>
                  </div>
                  <div class="stats">
                      <div class="stat-fr">
                          74<br>
                          <span>Likes</span>
                      </div>
                      <div class="stat-fr">
                          1,034<br>
                          <span>Views</span>
                      </div>
                  </div>
              </li>
          </ul>
      </div>
  </content>
  <%= render partial: 'votes/vote_link', locals: { votable: @articles.first } %>
