<div class="content">
  <div class="masthead">
    <div class="row">
      <h2>Knowledge Base</h2>
    </div>
    <div class="row">
      <div class="info">
        <p class="large">High quality tutorials and resources to help data scientists at all levels of expertise, from beginners to experts.</p>
      </div>
    </div>
  </div>

  <% if policy(:article).new? %>
  <div class="sub-nav">
    <div class="row">
      <%= link_to 'Create Tutorial',
            new_article_path,
            class: "btn btn-secondary pull-right" %>
    </div>
  </div>
  <% end %>


  <div class="row">
    <ul class="list-tutorials">
      <% @articles.each do |article| %>
        <%= render partial: 'article', locals: { article: article } %>
      <% end %>
    </ul>
  </div>
  <%#= render partial: 'shared/load_more', locals: { collection: @articles } %>
</div>
