<content>
  <div class="masthead">
    <div class="row">
      <h2>Knowledge Base</h2>
    </div>
    <div class="row">
      <div class="info">
        <p class="large">High quality tutorials and resources to help data scientists at all levels of expertise, from beginners to experts.</p>
      </div>
    </div>
  </div>

  <%= concept('article/cell/list', @articles) %>
</content>
