<%= render partial: 'sidebar' %>
<%= render partial: 'articles/show/header' %>

<div class="page-content-container">
  <%= render partial: 'votes/vote_link', locals: { votable: @article } %>

  <div id='new-section'></div>

  <% @article.article_sections.each do |section| %>
    <%= render partial: 'article_sections/show', locals: { article: @article, article_section: section } %>
  <% end %>

  <%#= render partial: 'comments/comments', locals: { commentable: @article, comments: @comments } %>
</div>
