<div class="content">
  <%= concept(Article::Cell::ArticleMasthead, @article, article_section: @article_section,current_participant: current_participant) %>
  <%= concept(Article::Cell::ArticleSubnav, @article, article_section: @article_section,current_participant: current_participant) %>
  <%= concept(Article::Cell, @article, article_section: @article_section,current_participant: current_participant) %>
</div>
