<% content_for(:header) do %>

<div class='competition-header'>
  <div class="row">
    <div class="col-md-2 col-md-offset-1">
      <%#= link_to @competition.hosting_institution.institution, hosting_institution_path(@competition.hosting_institution) do %>
      <img src="<%= image_medium_url(@competition) %>" class="img-thumbnail img-circle" size='100x100' />
      <%# end %>
    </div>
    <div class="col-md-8">
      <h2><%= @competition.competition %></h2>
    </div>
    <div class="col-md-1"></div>
  </div>
  <br/>
  <div class="row">
    <div class="col-md-1 col-md-offset-1">
      <div class="mini-calendar">
        <strong>May</strong>
        <span>20</span>
      </div>
    </div>
    <div class="col-md-9">
      <div class="progress text-center">
        <div class="progress-bar competition-progress" role="progressbar" style="width: <%= @competition.pct_passed %>%;">
          <span><%= @competition.remaining_text %></span>
        </div>
      </div>
    </div>
    <div class="col-md-1">
        <div class="mini-calendar">
        <strong>May</strong>
        <span>20</span>
      </div>
    </div>
  </div>

    <%#= @competition.start_date %>
    <%#= @competition.end_date %>
</div>
  <% end %>
