<% content_for(:sidebar) do %>
<br/>
<br/>
<div class="panel panel-default">
  <div class="panel-body">
    <ul class="nav nav-stacked">
      <li><a href="#overview">Overview</a></li>
      <li><a href="#evaluation">Evaluation</a></li>
      <li><a href="#rules">Rules</a></li>
      <li><a href="#prizes">Prizes</a></li>
      <li><a href="#resources">Resources</a></li>
      <hr/>
      <li><%= link_to 'Leaderboard', '#' %></li>
      <li><a href="#datasets">Datasets</a></li>
      <hr/>
    </ul>
  </div>
</div>

<% if current_user.hosting_institution_id == @competition.hosting_institution_id %>
  <%= link_to 'Edit', edit_competition_path(@competition), class: 'btn btn-success' %>
  <%= link_to 'Delete', @competition, method: :delete, data: { confirm: 'Permanently delete this competition from CrowdAI?' }, class: 'btn btn-danger' %>
<% end %>

<% end %>
