<p id="notice"><%= notice %></p>

<ul class="list-group">
  <% @competitions.each do |competition| %>
    <%= render competition %>
  <% end %>
</ul>


<hr/>

<%= link_to 'New Competition', new_competition_path %>
