<div class="intro">
  <div class="container"></div>
</div>

<div class="container competition_list">
  <% if current_user.hosting_institution_id.present? %>
  <br/>
  <div class="row">
    <div class="col-md-2 col-md-offset-8">
      <%= link_to '+ New Competition', new_competition_path, class: 'btn btn-primary' %>
    </div>
  </div>
  <% end %>

  <div class="competitions-container">
    <ul class="competitions-list">
      <% @competitions.each do |competition| %>
        <%= render competition %>
      <% end %>
    </ul>
  </div>
