<div class='content'>
  <%= concept(Challenge::Cell::ChallengeMasthead,
                @challenge,
                current_participant: current_participant) %>
  <%= concept(Challenge::Cell::ChallengeSubnav,
                @challenge,
                tab: 'discussion',
                current_participant: current_participant) %>
  <%= concept(Discussion::Cell,
                @topic,
                current_participant: current_participant) %>
</div>
