<div class="content background-grey">
  <div class="row">
    <%= form_for resource, as: resource_name, url: unlock_path(resource_name), html: { class: 'panel', method: :post } do |f| %>
    <fieldset>
      <div class="panel-body">
        <h3>Unlock your account</h3>
        <%= render "shared/error_messages", :target => resource %>
        <%= f.text_field :email, placeholder: 'Email address' %>
        <%= f.button 'Email unlock instructions', type: 'submit', class: 'btn btn-primary btn-login' %>
      </div>
    </fieldset>
    <% end %>
  </div>
</div>
