<div class="row">
  <%= form_for @challenge, html: { class: "dbl-col" } do |f| %>
  <fieldset>
    <label>Datasets License</label>
    <%= markdown_editor("description_markdown") do |m| %>
    <%= f.text_area :dataset_description_markdown, class: "txt-med" %>
    <% end %>

    <div class="button-group">
      <button class="btn btn-primary">Create Challenge</button>
      <button class="btn btn-secondary">Cancel</button>
    </div>
  </fieldset>
  <% end %>
</div>
