<div class="row">
  <%= form_for [@organizer,@challenge], validate: true, html: { class: "dbl-col" } do |f| %>
  <fieldset>
  
    <%= render partial: 'challenges/form/submit_buttons', locals: { f: f } %>
  </fieldset>
  <% end %>
</div>
