<div role="tabpanel" class="tab-pane" id="dataset-configuration">
  <h1>Datasets</h1>

  <div class="markdown-editor">
    <ul class="nav nav-tabs" data-tabs="tabs">
      <li class="active">
        <a href="#editor-pane-license" data-toggle="tab">Write</a>
      </li>
      <li>
        <a href="#preview-pane-license" class="preview-pane-link" data-toggle="tab">Preview</a>
      </li>
    </ul>
    <div class="tab-content">
      <div class="tab-pane active" id="editor-pane-license">
        <%= f.label 'Dataset License' %>
        <%= render 'markdown_editor/toolbar' %>
        <%= f.text_area :license_markdown,
                        class: 'form-control markdown-textarea',
                        placeholder: 'Detail the license which applies to the dataset.',
                        required: true,
                        rows: 20 %>
      </div>
      <div class="tab-pane markdown-preview-pane" id="preview-pane-license">
        <div id="markdown-preview"></div>
      </div>
    </div>
  </div>

  <div class="form-actions">
    <br/>
    <%= f.button :submit, class: 'btn btn-primary outline' %>
  </div>
</div>
