<div role="tabpanel" class="tab-pane" id="evaluation">
  <h1>Evaluation</h1>
  <%= f.input :evaluation, as: :bootsy, input_html: { rows: 30 } %>
  <%= f.input :evaluation_criteria, as: :bootsy, input_html: { rows: 30 } %>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
</div>
