<div role="tabpanel" class="tab-pane" id="timeline">
  <h2>Timeline</h2>
  <%= f.input :perpetual_challenge %>

  <div class='events-configuration'>
    <%= f.input :start_dttm %>
    <%= f.input :end_dttm %>
  </div>

  <div class="form-actions">
    <br/>
    <%= f.button :submit, class: 'btn btn-primary outline' %>
  </div>
</div>
