<div class="nested-fields">
  <div class="twin-container">
    <div class="twin-field">
      <label>Invitee's Email</label>
      <%= f.text_field :email %>
      <%= link_to 'Invite', '#', class: 'btn btn-primary' %>
    </div>
    <div class="twin-field">
    </div>
  </div>
  <%#= link_to_remove_association "remove", f, class: 'pull-right' %>

</div>
