<div class="nested-fields">
  <fieldset>
  <div class="twin-container">
    <div class="twin-field">
      <%= f.text_field :email, placeholder: 'Enter email address' %>
    </div>
    <div class="twin-field">
      <label></label>
      <%= link_to_remove_association "remove", f %>
    </div>
  </div>
</div>
