<div class="row">
  <%= form_for @challenge, html: { class: "dbl-col" } do |f| %>
  <fieldset>
    <label>Overview</label>
    <%= markdown_editor("description_markdown") do |m| %>
      <%= f.text_area :description_markdown, class: "txt-med" %>
    <% end %>
    <%= render partial: 'challenges/form/submit_buttons', locals: { f: f } %>
  </fieldset>
  <% end %>
</div>
