<div class="row">
  <%= form_for [@organizer,@challenge], validate: true, html: { class: "dbl-col" } do |f| %>
      <fieldset>
        <label>Resources</label>
        <%= markdown_editor do |m| %>
          <%= f.text_area :resources_markdown, class: "txt-med" %>
        <% end %>
        <%= render partial: 'challenges/form/submit_buttons', locals: { f: f } %>
      </fieldset>
    <% end %>
  </div>
