<div role="tabpanel" class="tab-pane" id="resources">
  <h1>Resources</h1>
  <%= f.input :resources, as: :bootsy, input_html: { rows: 20 } %>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
</div>
