<div class="row">
  <%= form_for @challenge, validate: true, html: { class: "dbl-col" } do |f| %>
    <fieldset>
      <label>Rules</label>
      <%= markdown_editor do |m| %>
        <%= f.text_area :rules_markdown, class: "txt-med" %>
      <% end %>
      <%= render partial: 'challenges/form/submit_buttons', locals: { f: f } %>
    </fieldset>
  <% end %>
</div>
