<div role="tabpanel" class="tab-pane" id="rules">
  <h1>Rules</h1>
  <%= f.input :rules, as: :bootsy, input_html: { rows: 60 } %>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
</div>
