<div class="button-group">
  <%= f.button (f.object.new_record? ? "Create Challenge" : "Update Challenge"), class: 'btn btn-primary' %>
  <%= button_to challenges_path, class: "btn btn-secondary" do %>
    Cancel
  <% end %>
</div>
