<div class="button-group">
  <%= f.submit (f.object.new_record? ? "Create Challenge" : "Update Challenge"), class: 'btn btn-primary' %>
  <%= link_to 'Cancel', challenges_path, class: "btn btn-secondary" %>
</div>
