<div class="button-group">
  <%= f.button (f.object.new_record? ? "CREATE CHALLENGE" : "UPDATE CHALLENGE"), class: 'btn btn-primary' %>
  <a class="btn btn-secondary" href="/challenges">CANCEL</a>
</div>
