<div class="nested-fields">
  <div class="row">
    <div class="col-md-6">
      <%= s3_filename(f.object.configuration_file_s3_key) %>
      <%= f.input :configuration_file_s3_key,
                  as: :file,
                  input_html: { class: 's3File' } %>
    </div>
    <div class="col-md-5">
      <%= f.input :directory, required: true %>
    </div>
    <div class='col-md-1'>
      <%= link_to_remove_association "delete", f %>
    </div>
  </div>
</div>
