<section class="header-section">
  <div class="intro"></div>
</section>

<div class="challenges-container">
  <div class='article-filter-container'>
    <% if policy(Organizer.new).create? %>
    <br/>
    <div class="row">
      <div class="col-md-2">
        <%= link_to '+ Add Organizer', new_organizer_path, class: 'btn btn-primary outline' %>
      </div>
    </div>
    <% end %>
  </div>
  
  <ul class="challenges-list">
    <% @organizers.each do |organizer| %>
    <%= render partial: 'organizers/index/organizer', locals: { organizer: organizer } %>
    <% end %>
  </ul>
</div>
