
<%= link_to 'Add Organizer', new_organizer_path, class: 'btn btn-primary outline pull-right' %>


<h1>Already hosting on CrowdAI</h1>

<% @organizers.each do |organizer| %>
  <div class="jumbotron">
    <h4><%= link_to organizer.organizer, organizer_path(organizer) %></h4>
    <%= organizer.description %>
  </div>

<% end %>
