<div class='content'>
  <%= render partial: 'masthead', locals: { organizer: @organizer } %>
  <%= render partial: 'subnav', locals: { organizer: @organizer, challenges: @challenges } %>

  <div class="row">
    <ul class="list-challenges">
      <%= concept(Challenge::Cell::ListDetail,
                    collection: @challenges,
                    current_participant: current_participant) %>
    </ul>
  </div>
</div>
