<div class='content'>
  <%= render partial: 'masthead', locals: { organizer: @organizer } %>
  <%= concept(Organizer::Cell::Subnav,
                @organizer,
                challenges: @challenges,
                current_participant: current_participant) %>

  <div class="row">
    <ul class="list-challenges">
      <%= concept(Challenge::Cell::ListDetail,
                    collection: @challenges,
                    current_participant: current_participant) %>
    </ul>
  </div>
</div>
