<content>
      <div class="masthead-detailed">
          <div class="row">
              <div class="pic pic-user">
                  <img src="assets/img/users/user-1.jpg" alt="">
              </div>
              <div class="info info-user">
                  <h2>Heading Level 2</h2>
                  <p class="location">Location · Organization</p>
                  <ul class="social-links">
                      <li><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a><li>
                      <li><a href="#"><i class="fa fa-github" aria-hidden="true"></i><li>
                      <li><a href="#"><i class="fa fa-linkedin" aria-hidden="true"></i></a><li>
                      <li><a href="#"><i class="fa fa-link" aria-hidden="true"></i></a><li>
                  </ul>
              </div>
          </div>
      </div>

      <div class="sub-nav">
          <div class="row">
              <ul>
                  <li class="active">Challenges <sup>3</sup></li>
                  <li><a href="#">Tutorials <sup>3</sup></a></li>
                  <li><a href="#">Bio</a></li>
              </ul>
          </div>
      </div>

      <div class="row">
          <ul class="list-challenges">
              <li>
                  <div class="pic">
                      <a href="#"><img src="assets/img/challenges/challenge-2.jpg" alt=""></a>
                  </div>
                  <div class="details">
                      <h5><a href="#">Challenge Title</a></h5>
                      <p class="description">Brief description brief description brief description brief description</p>
                      <p class="status active">XX days left</p>
                  </div>
                  <div class="stats">
                      <div class="stat-fr">
                          27<br>
                          <span>Submissions</span>
                      </div>
                      <div class="stat-fr">
                          142<br>
                          <span>Particpants</span>
                      </div>
                      <div class="stat-fr">
                          1,034<br>
                          <span>Views</span>
                      </div>
                  </div>
              </li>

              <li>
                  <div class="pic">
                      <a href="#"><img src="assets/img/challenges/challenge-2.jpg" alt=""></a>
                  </div>
                  <div class="details">
                      <h5><a href="#">Challenge Title</a></h5>
                      <p class="description">Brief description brief description brief description brief description</p>
                      <p class="status active">XX days left</p>
                  </div>
                  <div class="stats">
                      <div class="stat-fr">
                          27<br>
                          <span>Submissions</span>
                      </div>
                      <div class="stat-fr">
                          142<br>
                          <span>Particpants</span>
                      </div>
                      <div class="stat-fr">
                          1,034<br>
                          <span>Views</span>
                      </div>
                  </div>
              </li>

              <li>
                  <div class="pic">
                      <a href="#"><img src="assets/img/challenges/challenge-2.jpg" alt=""></a>
                  </div>
                  <div class="details">
                      <h5><a href="#">Challenge Title</a></h5>
                      <p class="description">Brief description brief description brief description brief description</p>
                      <p class="status">Completed</p>
                  </div>
                  <div class="stats">
                      <div class="stat-fr">
                          27<br>
                          <span>Submissions</span>
                      </div>
                      <div class="stat-fr">
                          142<br>
                          <span>Particpants</span>
                      </div>
                      <div class="stat-fr">
                          1,034<br>
                          <span>Views</span>
                      </div>
                  </div>
              </li>
          </ul>
      </div>
  </content>
