<div class='content'>
  <%= render partial: 'masthead', locals: { participant: @participant } %>
  <%= render partial: 'subnav', locals: { participant: @participant } %>

  <div class="masthead-detailed">
       <div class="row">
         <div class="pic pic-user">
           <img src="assets/img/users/avatar-default.png" alt="">
         </div>
         <div class="info info-user">
           <h2>Username</h2>
         </div>
       </div>
     </div>

     <div class="sub-nav">
       <div class="row">
         <ul>
           <li class="active">Achievements <sup>24</sup></li>
           <li><a href="#">Challenges <sup>3</sup></a></li>
           <li><a href="#">Tutorials <sup>3</sup></a></li>
           <li><a href="#">Posts</a></li>
           <li><a href="#">Bio</a></li>
         </ul>
       </div>
     </div>

   <!-- main content -->
   <div class="row">

     <!-- awarded -->
     <div class="section-header section-header-alt">
       <h6>Awarded</h6>
       <a class="btn btn-secondary" href="#">All achievements</a>
     </div>

    <!-- list awards -->
     <ul class="list-awards">

       <!-- award -->
       <li>
         <!-- icon -->
         <div class="icon">
           <a href="#">
               <div class="award-gold">
                 <span>Award: Gold</span>
               </div>
             </a>
         </div>
         <!-- /icon -->

         <!-- details -->
         <div class="details">
           <h5><a href="#">Challenge winner: Gold</a></h5>
           <p class="description">Awarded for winning 3 challenges · <span class="badge badge-gold">Top 2%</span></p>
         </div>
         <!-- /details -->

         <!-- date -->
         <div class="date">
           06 August 2018
         </div>
         <!-- /date -->
       </li>
       <!-- /award -->

       <!-- award -->
       <li>
         <!-- icon -->
         <div class="icon">
           <a href="#">
               <div class="award-silver">
                 <span>Award: Silver</span>
               </div>
             </a>
         </div>
         <!-- /icon -->

         <!-- details -->
         <div class="details">
           <h5><a href="#">Challenge winner: Silver</a></h5>
           <p class="description">Awarded for winning 2 challenges · <span class="badge badge-silver">Top 9%</span></p>
         </div>
         <!-- /details -->

         <!-- date -->
         <div class="date">
           06 August 2018
         </div>
         <!-- /date -->
       </li>
       <!-- /award -->

       <!-- award -->
       <li>
         <!-- icon -->
         <div class="icon">
           <a href="#">
               <div class="award-bronze">
                 <span>Award: Bronze</span>
               </div>
             </a>
         </div>
         <!-- /icon -->

         <!-- details -->
         <div class="details">
           <h5><a href="#">Challenge winner: Bronze</a></h5>
           <p class="description">Awarded for winning a challenge · <span class="badge badge-bronze">Top 13%</span></p>
         </div>
         <!-- /details -->

         <!-- date -->
         <div class="date">
           06 August 2018
         </div>
         <!-- /date -->
       </li>
       <!-- /award -->

       <!-- award -->
       <li>
         <!-- icon -->
         <div class="icon">
           <a href="#">
               <div class="award-gold">
                 <span>Award: Gold</span>
               </div>
             </a>
         </div>
         <!-- /icon -->

         <!-- details -->
         <div class="details">
           <h5><a href="#">Challenge submissions: Gold</a></h5>
           <p class="description">Awarded for 1,000 submissions · <span class="badge badge-gold">Top 2%</span></p>
         </div>
         <!-- /details -->

         <!-- date -->
         <div class="date">
           06 August 2018
         </div>
         <!-- /date -->
       </li>
       <!-- /award -->

       <!-- award -->
       <li>
         <!-- icon -->
         <div class="icon">
           <a href="#">
               <div class="award-silver">
                 <span>Award: Silver</span>
               </div>
             </a>
         </div>
         <!-- /icon -->

         <!-- details -->
         <div class="details">
           <h5><a href="#">Challenge submissions: Silver</a></h5>
           <p class="description">Awarded for 100 submissions · <span class="badge badge-silver">Top 9%</span></p>
         </div>
         <!-- /details -->

         <!-- date -->
         <div class="date">
           06 August 2018
         </div>
         <!-- /date -->
       </li>
       <!-- /award -->

       <!-- award -->
       <li>
         <!-- icon -->
         <div class="icon">
           <a href="#">
               <div class="award-bronze">
                 <span>Award: Bronze</span>
               </div>
             </a>
         </div>
         <!-- /icon -->

         <!-- details -->
         <div class="details">
           <h5><a href="#">Challenge submissions: Bronze</a></h5>
           <p class="description">Awarded for first submission · <span class="badge badge-bronze">Top 13%</span></p>
         </div>
         <!-- /details -->

         <!-- date -->
         <div class="date">
           06 August 2018
         </div>
         <!-- /date -->
       </li>
       <!-- /award -->

       <!-- award -->
       <li>
         <!-- icon -->
         <div class="icon">
           <a href="#">
               <div class="award-gold">
                 <span>Award: Gold</span>
               </div>
             </a>
         </div>
         <!-- /icon -->

         <!-- details -->
         <div class="details">
           <h5><a href="#">Top position during challenge: Gold</a></h5>
           <p class="description">Awarded for top position during a challenge 25 times · <span class="badge badge-gold">Top 2%</span></p>
         </div>
         <!-- /details -->

         <!-- date -->
         <div class="date">
           06 August 2018
         </div>
         <!-- /date -->
       </li>
       <!-- /award -->

       <!-- award -->
       <li>
         <!-- icon -->
         <div class="icon">
           <a href="#">
               <div class="award-silver">
                 <span>Award: Silver</span>
               </div>
             </a>
         </div>
         <!-- /icon -->

         <!-- details -->
         <div class="details">
            <h5><a href="#">Top position during challenge: Silver</a></h5>
           <p class="description">Awarded for top position during a challenge 5 times · <span class="badge badge-silver">Top 9%</span></p>
         </div>
         <!-- /details -->

         <!-- date -->
         <div class="date">
           06 August 2018
         </div>
         <!-- /date -->
       </li>
       <!-- /award -->

       <!-- award -->
       <li>
         <!-- icon -->
         <div class="icon">
           <a href="#">
               <div class="award-bronze">
                 <span>Award: Bronze</span>
               </div>
             </a>
         </div>
         <!-- /icon -->

         <!-- details -->
         <div class="details">
            <h5><a href="#">Top position during challenge: Bronze</a></h5>
           <p class="description">Awarded for top position during a challenge · <span class="badge badge-bronze">Top 13%</span></p>
         </div>
         <!-- /details -->

         <!-- date -->
         <div class="date">
           06 August 2018
         </div>
         <!-- /date -->
       </li>
       <!-- /award -->

       <!-- award -->
       <li>
         <!-- icon -->
         <div class="icon">
           <a href="#">
               <div class="award-gold">
                 <span>Award: Gold</span>
               </div>
             </a>
         </div>
         <!-- /icon -->

         <!-- details -->
         <div class="details">
           <h5><a href="#">Upvote: Gold</a></h5>
           <p class="description">Awarded for receiving 250 upvotes on a comment or tutorial · <span class="badge badge-gold">Top 2%</span></p>
         </div>
         <!-- /details -->

         <!-- date -->
         <div class="date">
           06 August 2018
         </div>
         <!-- /date -->
       </li>
       <!-- /award -->

       <!-- award -->
       <li>
         <!-- icon -->
         <div class="icon">
           <a href="#">
               <div class="award-silver">
                 <span>Award: Silver</span>
               </div>
             </a>
         </div>
         <!-- /icon -->

         <!-- details -->
         <div class="details">
            <h5><a href="#">Upvote: Silver</a></h5>
           <p class="description">Awarded for receiving 25 upvotes on a comment or tutorial · <span class="badge badge-silver">Top 9%</span></p>
         </div>
         <!-- /details -->

         <!-- date -->
         <div class="date">
           06 August 2018
         </div>
         <!-- /date -->
       </li>
       <!-- /award -->

       <!-- award -->
       <li>
         <!-- icon -->
         <div class="icon">
           <a href="#">
               <div class="award-bronze">
                 <span>Award: Bronze</span>
               </div>
             </a>
         </div>
         <!-- /icon -->

         <!-- details -->
         <div class="details">
           <h5><a href="#">Upvote: Bronze</a></h5>
           <p class="description">Awarded for receiving an upvote on a comment or tutorial  · <span class="badge badge-bronze">Top 13%</span></p>
         </div>
         <!-- /details -->

         <!-- date -->
         <div class="date">
           06 August 2018
         </div>
         <!-- /date -->
       </li>
       <!-- /award -->

       <!-- award -->
       <li>
         <!-- icon -->
         <div class="icon">
           <a href="#">
               <div class="award-gold">
                 <span>Award: Gold</span>
               </div>
             </a>
         </div>
         <!-- /icon -->

         <!-- details -->
         <div class="details">
           <h5><a href="#">Tutorial authorship: Gold</a></h5>
           <p class="description">Awarded for writing 30 tutorials · <span class="badge badge-gold">Top 2%</span></p>
         </div>
         <!-- /details -->

         <!-- date -->
         <div class="date">
           06 August 2018
         </div>
         <!-- /date -->
       </li>
       <!-- /award -->

       <!-- award -->
       <li>
         <!-- icon -->
         <div class="icon">
           <a href="#">
               <div class="award-silver">
                 <span>Award: Silver</span>
               </div>
             </a>
         </div>
         <!-- /icon -->

         <!-- details -->
         <div class="details">
            <h5><a href="#">Tutorial authorship: Silver</a></h5>
           <p class="description">Awarded for writing 3 tutorials · <span class="badge badge-silver">Top 9%</span></p>
         </div>
         <!-- /details -->

         <!-- date -->
         <div class="date">
           06 August 2018
         </div>
         <!-- /date -->
       </li>
       <!-- /award -->

       <!-- award -->
       <li>
         <!-- icon -->
         <div class="icon">
           <a href="#">
               <div class="award-bronze">
                 <span>Award: Bronze</span>
               </div>
             </a>
         </div>
         <!-- /icon -->

         <!-- details -->
         <div class="details">
           <h5><a href="#">Tutorial authorship: Bronze</a></h5>
           <p class="description">Awarded for writing a tutorial  · <span class="badge badge-bronze">Top 13%</span></p>
         </div>
         <!-- /details -->

         <!-- date -->
         <div class="date">
           06 August 2018
         </div>
         <!-- /date -->
       </li>
       <!-- /award -->

       <!-- award -->
       <li>
         <!-- icon -->
         <div class="icon">
           <a href="#">
               <div class="award-gold">
                 <span>Award: Gold</span>
               </div>
             </a>
         </div>
         <!-- /icon -->

         <!-- details -->
         <div class="details">
           <h5><a href="#">Top 5 during a challenge: Gold</a></h5>
           <p class="description">Awarded for being in the top 5 on a leaderboard during a challenge 25 times · <span class="badge badge-gold">Top 2%</span></p>
         </div>
         <!-- /details -->

         <!-- date -->
         <div class="date">
           06 August 2018
         </div>
         <!-- /date -->
       </li>
       <!-- /award -->

       <!-- award -->
       <li>
         <!-- icon -->
         <div class="icon">
           <a href="#">
               <div class="award-silver">
                 <span>Award: Silver</span>
               </div>
             </a>
         </div>
         <!-- /icon -->

         <!-- details -->
         <div class="details">
           <h5><a href="#">Top 5 during a challenge: Silver</a></h5>
           <p class="description">Awarded for being in the top 5 on a leaderboard during a challenge 5 times · <span class="badge badge-silver">Top 9%</span></p>
         </div>
         <!-- /details -->

         <!-- date -->
         <div class="date">
           06 August 2018
         </div>
         <!-- /date -->
       </li>
       <!-- /award -->

       <!-- award -->
       <li>
         <!-- icon -->
         <div class="icon">
           <a href="#">
               <div class="award-bronze">
                 <span>Award: Bronze</span>
               </div>
             </a>
         </div>
         <!-- /icon -->

         <!-- details -->
         <div class="details">
           <h5><a href="#">Top 5 during a challenge: Bronze</a></h5>
           <p class="description">Awarded for being in the top 5 on a leaderboard during a challenge  · <span class="badge badge-bronze">Top 13%</span></p>
         </div>
         <!-- /details -->

         <!-- date -->
         <div class="date">
           06 August 2018
         </div>
         <!-- /date -->
       </li>
       <!-- /award -->

       <!-- award -->
       <li>
         <!-- icon -->
         <div class="icon">
           <a href="#">
               <div class="award-gold">
                 <span>Award: Gold</span>
               </div>
             </a>
         </div>
         <!-- /icon -->

         <!-- details -->
         <div class="details">
           <h5><a href="#">Top 5 for completed challenge: Gold</a></h5>
           <p class="description">Awarded for finishing in the top 5 on a leaderboard for a completed challenge 10 times · <span class="badge badge-gold">Top 2%</span></p>
         </div>
         <!-- /details -->

         <!-- date -->
         <div class="date">
           06 August 2018
         </div>
         <!-- /date -->
       </li>
       <!-- /award -->

       <!-- award -->
       <li>
         <!-- icon -->
         <div class="icon">
           <a href="#">
               <div class="award-silver">
                 <span>Award: Silver</span>
               </div>
             </a>
         </div>
         <!-- /icon -->

         <!-- details -->
         <div class="details">
           <h5><a href="#">Top 5 for completed challenge: Silver</a></h5>
           <p class="description">Awarded for finishing in the top 5 on a leaderboard for a completed challenge 3 times · <span class="badge badge-silver">Top 9%</span></p>
         </div>
         <!-- /details -->

         <!-- date -->
         <div class="date">
           06 August 2018
         </div>
         <!-- /date -->
       </li>
       <!-- /award -->

       <!-- award -->
       <li>
         <!-- icon -->
         <div class="icon">
           <a href="#">
               <div class="award-bronze">
                 <span>Award: Bronze</span>
               </div>
             </a>
         </div>
         <!-- /icon -->

         <!-- details -->
         <div class="details">
           <h5><a href="#">Top 5 for completed challenge: Bronze</a></h5>
           <p class="description">Awarded for finishing in the top 5 on a leaderboard for a completed challenge · <span class="badge badge-bronze">Top 13%</span></p>
         </div>
         <!-- /details -->

         <!-- date -->
         <div class="date">
           06 August 2018
         </div>
         <!-- /date -->
       </li>
       <!-- /award -->

       <!-- award -->
       <li>
         <!-- icon -->
         <div class="icon">
           <a href="#">
               <div class="award-gold">
                 <span>Award: Gold</span>
               </div>
             </a>
         </div>
         <!-- /icon -->

         <!-- details -->
         <div class="details">
           <h5><a href="#">Top 10 for completed challenge: Gold</a></h5>
           <p class="description">Awarded for finishing in the top 10 on a leaderboard for a completed challenge 20 times · <span class="badge badge-gold">Top 2%</span></p>
         </div>
         <!-- /details -->

         <!-- date -->
         <div class="date">
           06 August 2018
         </div>
         <!-- /date -->
       </li>
       <!-- /award -->

       <!-- award -->
       <li>
         <!-- icon -->
         <div class="icon">
           <a href="#">
               <div class="award-silver">
                 <span>Award: Silver</span>
               </div>
             </a>
         </div>
         <!-- /icon -->

         <!-- details -->
         <div class="details">
            <h5><a href="#">Top 10 for completed challenge: Silver</a></h5>
           <p class="description">Awarded for finishing in the top 10 on a leaderboard for a completed challenge 5 times  · <span class="badge badge-silver">Top 9%</span></p>
         </div>
         <!-- /details -->

         <!-- date -->
         <div class="date">
           06 August 2018
         </div>
         <!-- /date -->
       </li>
       <!-- /award -->

       <!-- award -->
       <li>
         <!-- icon -->
         <div class="icon">
           <a href="#">
               <div class="award-bronze">
                 <span>Award: Bronze</span>
               </div>
             </a>
         </div>
         <!-- /icon -->

         <!-- details -->
         <div class="details">
            <h5><a href="#">Top 10 for completed challenge: Bronze</a></h5>
           <p class="description">Awarded for finishing in the top 10 on a leaderboard for a completed challenge · <span class="badge badge-bronze">Top 13%</span></p>
         </div>
         <!-- /details -->

         <!-- date -->
         <div class="date">
           06 August 2018
         </div>
         <!-- /date -->
       </li>
       <!-- /award -->

     </ul>
     <!-- /list awards -->
     <!-- /awarded -->

     <!-- remaining -->
     <div class="section-header section-header-alt">
       <h6>Remaining</h6>
       <a class="btn btn-secondary" href="#">All achievements</a>
     </div>

    <!-- list awards -->
     <ul class="list-awards">

       <!-- award -->
       <li>
         <!-- icon -->
         <div class="icon">
           <div class="award-empty">
                 <span>Award: Empty</span>
               </div>
         </div>
         <!-- /icon -->

         <!-- details -->
         <div class="details">
           <h5>Challenge winner</h5>
           <p class="description">Awarded for winning a challenge</p>
         </div>
         <!-- /details -->
       </li>
       <!-- /award -->

       <!-- award -->
       <li>
         <!-- icon -->
         <div class="icon">
           <div class="award-empty">
                 <span>Award: Empty</span>
               </div>
         </div>
         <!-- /icon -->

         <!-- details -->
         <div class="details">
           <h5>Challenge submissions</h5>
           <p class="description">Awarded for a challenge submission</p>
         </div>
         <!-- /details -->
       </li>
       <!-- /award -->

       <!-- award -->
       <li>
         <!-- icon -->
         <div class="icon">
           <div class="award-empty">
                 <span>Award: Empty</span>
               </div>
         </div>
         <!-- /icon -->

         <!-- details -->
         <div class="details">
           <h5>Top position during challenge</h5>
           <p class="description">Awarded for top position during a challenge</p>
         </div>
         <!-- /details -->
       </li>
       <!-- /award -->

       <!-- award -->
       <li>
         <!-- icon -->
         <div class="icon">
           <div class="award-empty">
                 <span>Award: Empty</span>
               </div>
         </div>
         <!-- /icon -->

         <!-- details -->
         <div class="details">
           <h5>Upvote</h5>
           <p class="description">Awarded for receiving an upvote on a comment or tutorial</p>
         </div>
         <!-- /details -->
       </li>
       <!-- /award -->

       <!-- award -->
       <li>
         <!-- icon -->
         <div class="icon">
           <div class="award-empty">
                 <span>Award: Empty</span>
               </div>
         </div>
         <!-- /icon -->

         <!-- details -->
         <div class="details">
           <h5>Tutorial authorship</h5>
           <p class="description">Awarded for writing a tutorial</p>
         </div>
         <!-- /details -->
       </li>
       <!-- /award -->

       <!-- award -->
       <li>
         <!-- icon -->
         <div class="icon">
           <div class="award-empty">
                 <span>Award: Empty</span>
               </div>
         </div>
         <!-- /icon -->

         <!-- details -->
         <div class="details">
           <h5>Top 5 during challenge</h5>
           <p class="description">Awarded for being in the top 5 on a leaderboard during a challenge</p>
         </div>
         <!-- /details -->
       </li>
       <!-- /award -->

       <!-- award -->
       <li>
         <!-- icon -->
         <div class="icon">
           <div class="award-empty">
                 <span>Award: Empty</span>
               </div>
         </div>
         <!-- /icon -->

         <!-- details -->
         <div class="details">
           <h5>Top 5 for completed challenge</h5>
           <p class="description">Awarded for finishing in the top 5 on a leaderboard for a completed challenge</p>
         </div>
         <!-- /details -->
       </li>
       <!-- /award -->

       <!-- award -->
       <li>
         <!-- icon -->
         <div class="icon">
           <div class="award-empty">
                 <span>Award: Empty</span>
               </div>
         </div>
         <!-- /icon -->

         <!-- details -->
         <div class="details">
           <h5>Top 10 for completed challenge</h5>
           <p class="description">Awarded for finishing in the top 5 on a leaderboard for a completed challenge</p>
         </div>
         <!-- /details -->
       </li>
       <!-- /award -->

     </ul>
     <!-- /list awards -->
     <!-- /remaining -->

   </div>
   <!-- /main content -->

</div><!-- .content -->
