<div class="container-medium-grey">

<% if @user.pending_reconfirmation? %>
  <%= render 'users/edit/account_pending' %>
<% else %>
  <%= render 'users/edit/header_fields' %>
<% end %>

</div>
<br/><br/>
