<div id="resources">
  <h2>Resources</h2>
  <%= simple_format(challenge.resources, class: 'bootsy-wrap') %>
  <div class='bootsy-wrap'>
    <%= simple_format(challenge.resources_rendered, class: 'bootsy-wrap') %>
  </div>
</div>
