<div id="rules">
  <h2>Rules</h2>
  <%= simple_format(challenge.rules, class: 'bootsy-wrap') %>
  <div class='bootsy-wrap'>
    <%= simple_format(challenge.rules_rendered, class: 'bootsy-wrap') %>
  </div>
</p>
</div>
