<div class="row">
  <form class="leaderboard">
    <%= link_to challenge_submissions_path(challenge, baselines: 'on',current_round_id: current_round_id) do %>
      <input type="checkbox" id="switch" name="switch" class="switch">
      <label for="switch">Baselines</label>
    <% end %>
  </form>
</div>
