<p style="text-align:center">
  <%= link_to 'Submit Entry', new_challenge_submission_path(@challenge), class: 'btn btn-primary btn-block outline' %>
</p>
<div class='markdown-wrap'>
  <%= sanitize(@challenge.submission_instructions) if @challenge.submission_instructions %>
</div>
