<p style="text-align:center">
  <%= link_to 'Submit Entry', new_challenge_submission_path(@challenge), class: 'btn btn-primary btn-block outline' %>
</p>
<div class='markdown-wrap'>
  <%= @challenge.submission_instructions.html_safe if @challenge.submission_instructions %>
</div>
