<h3>Submissions made by <%= link_to @participant.name, participant_path(@participant) %> </h3>
<p>
<lead>As the challenge has ended, you may freely download and use any of the submissions made during the challenge. If you find a submission useful or interesting, please consider rewarding the participant with a vote.</lead>
</p>
