<li>
  <div class="pic">
    <a href="#"><img src="assets/challenge-2.jpg" alt=""></a>
  </div>
  <div class="details">
    <h5><a href="#">Challenge Title</a></h5>
    <p class="description">Brief description brief description brief description brief description</p>
    <p class="status active">XX days left</p>
  </div>
  <div class="stats">
    <div class="stat-fr">
      27<br>
      <span>Submissions</span>
    </div>
    <div class="stat-fr">
      142<br>
      <span>Particpants</span>
    </div>
    <div class="stat-fr">
      1,034<br>
      <span>Views</span>
    </div>
  </div>
</li>
