<div class="sub-nav">
  <div class="row">
    <ul>
      <% challenge_rounds.each do |challenge_round| %>
        <li class=<%= tab_class(challenge_round) %> >
          <%= link_to challenge_round.challenge_round,
                      challenge_leaderboards_path(
                        challenge, challenge_round_id: challenge_round.id),
                        class: 'active' %>
        </li>
      <% end %>
    </ul>
  </div>
</div>
