<div class="row">
  <table class="leaderboard">
    <%= table_head %>
    <%= table_body %>
  </table>
</div>

<div class="row">
  <form class="leaderboard">
    <input type="checkbox" id="switch" name="switch" class="switch">
    <label for="switch">Show post-challenge submissions</label>
  </form>
  <p class="light">Entries column includes entries not yet graded which, when graded, may affect the contents of this leaderboard.</p>
</div>
