<content>
      <div class="masthead">
          <div class="row">
              <div class="info">
                  <h2>Contact</h2>
              </div>
          </div>
      </div>
      <div class="row">
          <div class="article">
              <p>At crowdAI we would love to hear from you.</p>
              <p>If you have any queries, suggestions, bug reports or want to otherwise get in touch with us, please email us at <a href="mailto:info@crowdai.org">info@crowdai.org</a></p>
          </div>
      </div>
  </content>
