<div class="row">
  <div class="col-xs-10 col-xs-offset-1 col-md-8 col-md-offset-2">
    <h1 class="centered-text">Contact Us</h1>
    <p class="lead">At crowdAI we would love to hear from you. If you have any queries, suggestions, bug reports or want to otherwise get in touch with us, please email us at:</p>

    <h2 class="centered-text">info@crowdai.org</h2>
    <br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/>
  </div>
</div>
