<div class='content'>
  <div class="masthead">
    <div class="row">
      <div class="info">
        <h2>Cookie consent</h2>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="article">
      <p>As a general policy, crowdAI does not use any services which track or identify individual visitors to our websites crowdai.org and gitlab.crowdai.org. We believe that you need to opt-in, by signing up for our newsletter or requesting a brochure, before we collect or identify any personal information from or about you.</p>

      <p>That means that cookie usage on our website is very limited, by design. Nevertheless, we do use cookies on our websites crowdai.org and gitlab.crowdai.org and we want to let you know more about what that means.</p>

      <h3>What Are Cookies?</h3>
      <p>Cookies are small text files located in the browser directory of your computer or mobile device. When you visit a website, it can send information back to your browser. The browser then creates a cookie which is stored on your computer. Every time you revisit the same website, that website can access the information stored in the cookie created by your previous visit, as long as you have not deleted it or it has not expired.</p>

      <p>Cookies are not just created by the website you visit, but may also be created by other applications or services that work with the website you are viewing.</p>

      <p>No personal information is stored in any crowdAI cookie.</p>

      <h3>What Are Cookies Used For?</h3>
      <p>Cookies are used for a number of reasons. They:
        <ul>
          <li>- help us improve functionality such as search performance;</li>
          <li>- help us monitor the performance of our website;</li>
          <li>- help us personalize a limited amount of content shown to you on the website;</li>
          <li>- help us understand how people use our websites.</li>
        </ul>

      <h3>Essential Cookies</h3>
        <p>Some cookies are essential to allow our website to work properly. The cookie <i>_crowdai_session</i>, for example, is set by default by the application that runs the website crowdai.org.</p>

        <h3>Functional Cookies</h3>
        <p>Functional cookies allow a website or web application to provide additional services by remembering your preferences and settings. For example, we use a cookie called <i>_cookie_eu_consented</i> to keep track of whether you have accepted the cookie notice and whether we need to show it to you again or not.</p>

        <p>Functional cookies may also be set by third parties if you view their content within our website. For example, if we embed a You Tube video in one of our pages, you may receive a cookie from YouTube to help ensure a smooth video playback experience. crowdAI has no control over the content of these third party cookies.</p>

        <h3>Analytical Cookies</h3>
        <p>Analytical cookies allow us to keep track of our website analytics. It is highly beneficial for us to know how many visitors we get, where they are visiting from, what the most popular pages are, and what time of day has the least number of visitors (so we know the best time to do maintenance).</p>

        <p>We use third party services to track our analytics. Examples of the cookies they set are <i>_gid</i> and <i>_ga</i>.</p>

        <p>We use analytics services from Google, including Google Analytics and Google Tag Manager. We do not send any personal information about you to Google. If you would rather not have any of your data be used by Google Analytics, you can opt out by using Google’s own <a href="https://tools.google.com/dlpage/gaoptout?hl=en" target="_blank">Opt-out Browser Add-on</a></p>

        <h3>Questions?</h3>
        Our Terms of Use and Privacy Policy may have answers to some of the questions you have, but please do not hesitate to
        <a href="mailto:info@crowdai.org">contact us by e-mail<a>, if you have any specific concerns that we have not yet addressed.</p>

          <p>Last updated: 14 June 2018</p>
        </div>
      </div>
    </div>
