<content>
  <div class="masthead">
    <div class="row">
      <div class="info">
        <h2>Frequently Asked Questions</h2>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="article">

      <h2>What is crowdAI?</h2>
      <p>CrowdAI is a platform for open data science challenges. CrowdAI helps universities, government agencies, NGOs, or businesses to run and manage their data challenges. The crowdAI platform is a non-profit, open source infrastructure that can
        immediately reach thousands of data scientists around the world to work on interesting data problems.</p>

      <h2>I have a data science problem - why should I work with crowdAI?</h2>
      <p>Working with crowdAI by running a data challenge on the crowdAI platform has numerous benefits. The most important by far is that your challenge instantly gets exposure to thousands of data scientists around the world. You data challenge is
        transparent - the platform is open source, the discussions around your challenge are openly accessible, and the solutions are available under a license of your choice. Finally, by running a crowdsourced challenge, you send a clear signal that you're
        not just talking innovation, but actually walk the walk.
      </p>

      <h2>I want to host a challenge - but does that mean I need to open my data?</h2>
      <p>Yes - at least a part of it. If you want to benefit from the ingenuity of thousands of data scientists, you need to make your data accessible in some form. It is often not necessary to make all data open, but just a fraction of it. And if you are
        concerned about privacy issues, talk to us, and we can help you evaluate the best anonymization strategies.</p>

      <h2>Does this really work?</h2>
      <p>Absolutely. We have already run multiple challenges, many with great outcomes. Crowdsourcing data challenges is not entirely new, and has a multi-year history already, with numerous success stories.</p>

      <h2>Who is behind crowdAI platform?</h2>
      <p>crowdAI was built, and is currently maintained, by the Digital Epidemiology Lab at EPFL in Switzerland. We initially built crowdAI to serve our own needs, but quickly realized that the platform could be useful to others as well. And we love
        interesting data challenges!</p>

    </div>
  </div>
</content>
