<div class="row">
  <div class="col-xs-10 col-xs-offset-1 col-md-8 col-md-offset-2">
<h1>Privacy Policy</h1>

<!--
<a href="//www.iubenda.com/privacy-policy/7825737" class="iubenda-white iub-legal-only iubenda-embed" title="Privacy Policy">Privacy Policy</a><script type="text/javascript">(function (w,d) {var loader = function () {var s = d.createElement("script"), tag = d.getElementsByTagName("script")[0]; s.src = "//cdn.iubenda.com/iubenda.js"; tag.parentNode.insertBefore(s,tag);}; if(w.addEventListener){w.addEventListener("load", loader, false);}else if(w.attachEvent){w.attachEvent("onload", loader);}else{w.onload = loader;}})(window, document);</script>
-->



<p>In order to receive information about your Personal Data, the purposes and the parties the Data is shared with, contact the Owner. </p>
<hr/>
<h3>Data Controller and Owner</h3>
<p>crowdAI, info@crowdai.org</p>
<hr/>
<h2>Types of Data collected</h2>
<p>The owner does not provide a list of Personal Data types collected.</p>
<p>Other Personal Data collected may be described in other sections of this privacy policy or by dedicated explanation text contextually with the Data collection.</p>
<p>The Personal Data may be freely provided by the Participant, or collected automatically when using this Application.
Any use of Cookies - or of other tracking tools - by this Application or by the owners of third party services used by this Application, unless stated otherwise, serves to identify Participants and remember their preferences, for the sole purpose of providing the service required by the Participant.</p>
<p>Failure to provide certain Personal Data may make it impossible for this Application to provide its services.
Participants are responsible for any Personal Data of third parties obtained, published or shared through this Application and confirm that they have the third party's consent to provide the Data to the Owner.</p>
<h2>Mode and place of processing the Data</h2>
<h3>Methods of processing</h3>
<p>The Data Controller processes the Data of Participants in a proper manner and shall take appropriate security measures to prevent unauthorized access, disclosure, modification, or unauthorized destruction of the Data.</p>
<p>The Data processing is carried out using computers and/or IT enabled tools, following organizational procedures and modes strictly related to the purposes indicated. In addition to the Data Controller, in some cases, the Data may be accessible to certain types of persons in charge, involved with the operation of the site (administration, sales, marketing, legal, system administration) or external parties (such as third party technical service providers, mail carriers, hosting providers, IT companies, communications agencies) appointed, if necessary, as Data Processors by the Owner. The updated list of these parties may be requested from the Data Controller at any time.<p>
<h3>Place</h3>
<p>The Data is processed at the Data Controller's operating offices and in any other places where the parties involved with the processing are located. For further information, please contact the Data Controller.</p>
<h3>Retention time</h3>
<p>The Data is kept for the time necessary to provide the service requested by the Participant, or stated by the purposes outlined in this document, and the Participant can always request that the Data Controller suspend or remove the data.
Additional information about Data collection and processing</p>
<h3>Legal action</h3>
<p>The Participant's Personal Data may be used for legal purposes by the Data Controller, in Court or in the stages leading to possible legal action arising from improper use of this Application or the related services.</p>
<p>The Participant declares to be aware that the Data Controller may be required to reveal personal data upon request of public authorities.</p>
<h3>Additional information about Participant's Personal Data</h3>
<p>In addition to the information contained in this privacy policy, this Application may provide the Participant with additional and contextual information concerning particular services or the collection and processing of Personal Data upon request.</p>
<h3>System Logs and Maintenance</h3>
<p>For operation and maintenance purposes, this Application and any third party services may collect files that record interaction with this Application (System Logs) or use for this purpose other Personal Data (such as IP Address).</p>
<h3>Information not contained in this policy</h3>
<p>More details concerning the collection or processing of Personal Data may be requested from the Data Controller at any time. Please see the contact information at the beginning of this document.</p>
<h3>The rights of Participants</h3>
<p>Participants have the right, at any time, to know whether their Personal Data has been stored and can consult the Data Controller to learn about their contents and origin, to verify their accuracy or to ask for them to be supplemented, cancelled, updated or corrected, or for their transformation into anonymous format or to block any data held in violation of the law, as well as to oppose their treatment for any and all legitimate reasons. Requests should be sent to the Data Controller at the contact information set out above.</p>
<p>This Application does not support “Do Not Track” requests.</p>
<p>To determine whether any of the third party services it uses honor the “Do Not Track” requests, please read their privacy policies.</p>
<h3>Changes to this privacy policy</h3>
<p>The Data Controller reserves the right to make changes to this privacy policy at any time by giving notice to its Participants on this page. It is strongly recommended to check this page often, referring to the date of the last modification listed at the bottom. If a Participant objects to any of the changes to the Policy, the Participant must cease using this Application and can request that the Data Controller removes the Personal Data. Unless stated otherwise, the then-current privacy policy applies to all Personal Data the Data Controller has about Participants.</p>
<br/><br/>
</div></div>
