<div class='content'>
  <div class="masthead">
    <div class="row">
      <div class="info">
        <h2>Privacy Policy</h2>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="article">
      <h2>Scope and Definitions</h2>
      <p>This Privacy Policy shall apply to the personal data of the crowdAI Users and challenge Organizers collected by crowdAI for our Services and to any personal data posted or processed by the Users or the Organizers on crowdAI Website.</p>
      <p>Words in this Privacy Policy shall have the same meaning as defined in crowdAI Terms of Service.</p>

      <h2>Data Controllers</h2>
      <p>For the personal data of the Users and Organizers, which are collected by crowdAI for the User’s and Organizers’ account and the operation of our Services:</p>
      <p>crowdAI, <%= mail_to 'info@crowdai.org' %> on behalf of Ecole Polytechnique Fédérale de Lausanne, Station 1, 1015 Lausanne, Switzerland.</p>
      <p>For any other personal data in particular any personal data posted and/or processed by the Users or the Organizers on the Website, the respective User or Organizer shall be the data controller.</p>
      <p>For any personal data collected by the Organizer of a challenge, the Organizer is the data controller.</p>
      <p>If as a User or an Organizer you post, collect or otherwise process any personal data on the Website, you shall be solely responsible for the processing of such data in compliance with all applicable legal requirements.</p>

      <h2>Types and Use of Data collected</h2>
      <p>crowdAI collects personal data such as your name, e-mail address and other information you give when creating an account on CrowdAI as a user of crowdAI website or as an organizer of a challenge. For operation and maintenance purposes, crowdAI.org may collect files that record interaction with crowdAI website (System Logs) or use for this purpose other personal data such as your IP Address.</p>
      <p>crowdAI only uses your personal data for the operation of crowdAI website and services, including the challenges, as well as to improve crowdAI website and services.</p>
      <p>Other personal data may be collected on crowdAI website along dedicated explanation text contextually with any such data collection.</p>
      <p>If you provide personal data to any Organizer of a challenge on crowdAI, this will be according to each organizer’s data protection/privacy policy. CrowdAI does not take responsibility for such personal data.</p>
      <p>crowdAI may use your contact data to send you information about crowdAI challenges and crowdAI.org other services.</p>

      <h2>Mode and place of processing the personal data</h2>
      <h3>Methods of processing</h3>
      <p>crowdAI processes the user’s and organizer’s personal data  in a proper manner and shall take appropriate security measures to prevent unauthorized access, disclosure, modification, or unauthorized destruction of the data.</p>
      <h3>Place</h3>
      <p>The personal data is processed by crowdAI at its operating offices in Switzerland. If you access to our Services from a place outside of Switzerland, you understand that your data is then transferred to you abroad. For further information, please contact the data Controller as indicated at the beginning of this document.</p>
      <h3>Retention time</h3>
      <p>The personal data processed by crowdAI is kept as long as you or crowdAI has not cancelled your account though crowdAI may keep the data after cancellation of your account as long as necessary for technical reasons (like backups) or to comply with legal requirements.</p>
      <h3>The rights of users/organizers</h3>
      <p>Users and organizers have the right, at any time, to know whether their personal data has been stored and can consult the data Controller to learn about their contents and origin, to verify their accuracy or to ask for them to be supplemented, cancelled, updated or corrected, or to block any data held in violation of the law, as well as to oppose their treatment for any and all legitimate reasons. Requests should be sent to the data Controller as set out at the beginning of this document.</p>

      <h3>Information not contained in this policy</h3>
      <p>More details concerning the collection or processing of your personal data may be requested from the data Controller at any time. Please see the contact information at the beginning of this document.</p>
      <h3>Changes to this privacy policy</h3>
      <p>crowdAI reserves the right to make changes to this privacy policy at any time by giving notice to the users or organizers on this page. It is strongly recommended to check this page often. If a user or organizer disagrees to any of the changes to the Policy, she/he must cease using crowdAI website and services and can request that the data Controller removes her/his personal data. Such a removal will result in a termination of your account.</p>
      <h3>Users’ and Organizers’ Warranty and Indemnification</h3>
      <p>You warrant that if you post on the Website or collect, handle, store, transfer or otherwise process any personal data in connection with our Services, you will do so in compliance with all applicable laws and regulations. You agree to indemnify and hold crowdAI,  its suppliers, sub-contractors and licensors, harmless from and against any and all claims, liabilities, and expenses, including attorneys’ fees, arising out of your posting of any personal data on the Website or your processing of any personal data in connection with our Services.</p>

      <h3>Governing Law – Place of Jurisdiction</h3>
      <p>This Privacy Policy and any claims raised in connection therewith are governed by Swiss law, without regard to conflict of law provisions. You agree to submit to the exclusive jurisdiction of the cantonal court of the Canton Vaud located in Lausanne, Switzerland.</p>
    </div>
  </div>
</div>
