<div class="row">
  <div class="col-md-8 col-md-offset-2">
    <h1>Terms of Service</h1>

    <p>The following terms and conditions govern all use of the crowdAI.org website and all content, services, and products available at or through the website (taken together, our Services). Our Services are offered subject to your acceptance without modification of all of the terms and conditions contained herein and all other operating rules, policies (including, without limitation, crowdAI's Privacy Policy) and procedures that may be published from time to time by crowdAI (collectively, the “Agreement”). You agree that we may automatically upgrade our Services, and these terms will apply to any upgrades.</p>

    <p>Please read this Agreement carefully before accessing or using our Services. By accessing or using any part of our services, you agree to become bound by the terms and conditions of this agreement. If you do not agree to all the terms and conditions of this agreement, then you may not access or use any of our services. If these terms and conditions are considered an offer by crowdAI, acceptance is expressly limited to these terms.</p>

    <p>Use of our Services requires a crowdAI.org account. You agree to provide us with complete and accurate information when you register for an account. You will be solely responsible and liable for any activity that occurs under your name. You are responsible for keeping your password secure.</p>

    <h2>1. crowdAI.org</h2>

        <p>Your crowdAI.org Account and Website. If you create content on crowdAI.org, you are responsible for maintaining the security of your account and content, and you are fully responsible for all activities that occur under the account and any other actions taken in connection with the content. You must immediately notify crowdAI of any unauthorized uses of your content, your account, or any other breaches of security. crowdAI will not be liable for any acts or omissions by you, including any damages of any kind incurred as a result of such acts or omissions.</p>

        <p>Responsibility of Contributors. If you post material to crowdAI.org, post links on crowdAI.org, or otherwise make (or allow any third party to make) material available (any such material, “Content”), you are
          entirely responsible for the content of, and any harm resulting from, that Content or your conduct. That is the case regardless of what form the Content takes, which includes, but is not limited to text, photo, video, audio, or code. By using crowdAI.org, you represent and warrant that your Content and conduct do not violate these terms or the User Guidelines. </p>

          <p>By submitting Content to crowdAI for inclusion on your website, you grant crowdAI a world-wide, royalty-free, and non-exclusive license to reproduce, modify, adapt and publish the Content solely for the purpose of displaying, distributing, and promoting your blog. This license allows crowdAI to make publicly-posted content available to third parties selected by crowdAI, so that these third parties can analyze and distribute (but not publicly display) your content through their services. If you delete Content, crowdAI will use reasonable efforts to remove it from crowdAI.org, but you acknowledge that caching or references to the Content may not be made immediately unavailable. Without limiting any of those representations or warranties, crowdAI has the right (though not the obligation) to, in crowdAI’s sole discretion, (i) refuse or remove any content that, in crowdAI’s reasonable opinion, violates any
          crowdAI policy or is in any way harmful or objectionable, or (ii) terminate or deny access to and use of crowdAI.org to any individual or entity for any reason.</p>

            <h2>2. Copyright Infringement and DMCA Policy.</h2>

            <p>As crowdAI asks others to respect its intellectual property rights, it respects the intellectual property rights of others. If you believe that material located on or linked to by crowdai.org violates your copyright, you are encouraged to
              notify crowdAI in accordance with crowdAI’s Digital Millennium Copyright Act (“DMCA”) Policy. crowdAI will respond to all such notices, including as required or appropriate by removing the infringing material or disabling all links to the
              infringing material. crowdAI will terminate a visitor’s access to and use of the Website if, under appropriate circumstances, the visitor is determined to be a repeat infringer of the copyrights or other intellectual property rights of crowdAI
              or others. In the case of such termination, crowdAI will have no obligation to provide a refund of any amounts previously paid to crowdAI.</p>

            <h2>3. Intellectual Property.</h2>

            <p>This Agreement does not transfer from crowdAI to you any crowdAI or third party intellectual property, and all right, title, and interest in and to such property will remain (as between the parties) solely with crowdAI. crowdAI, crowdAI.org, the corwdAI.org logo, and all other trademarks, service marks, graphics and logos used in connection with crowdAI.org or our Services, are trademarks or registered trademarks of crowdAI or crowdAI’s licensors.
              Other trademarks, service marks, graphics and logos used in connection with our Services may be the trademarks of other third parties. Your use of our Services grants you no right or license to reproduce or otherwise use any crowdAI or third-party
              trademarks.</p>


            <h2>4. Changes.</h2>

            <p>We are constantly updating our Services, and that means sometimes we have to change the legal terms under which our Services are offered. If we make changes that are material, we will let you know by posting on crowdAI.org, or by sending you
              an email or other communication before the changes take effect. The notice will designate a reasonable period of time after which the new terms will take effect. If you disagree with our changes, then you should stop using our Services within the
              designated notice period. Your continued use of our Services will be subject to the new terms. However, any dispute that arose before the changes shall be governed by the Terms (including the binding individual arbitration clause) that were in place
              when the dispute arose.</p>

            <h2>5. Termination.</h2>

            <p>crowdAI may terminate your access to all or any part of our Services at any time, with or without cause, with or without notice, effective immediately. If you wish to terminate this Agreement or your crowdAI.org account (if you have one), you
              may simply discontinue using our Services. All provisions of this Agreement which by their nature should survive termination shall survive termination, including, without limitation, ownership provisions, warranty disclaimers, indemnity and
              limitations of liability.</p>

            <h2>6. Disclaimer of Warranties.</h2>

            <p>Our Services are provided “as is.” crowdAI and its suppliers and licensors hereby disclaim all warranties of any kind, express or implied, including, without limitation, the warranties of merchantability, fitness for a particular purpose and
              non-infringement. Neither crowdAI nor its suppliers and licensors, makes any warranty that our Services will be error free or that access thereto will be continuous or uninterrupted. If you’re actually reading this, here’s a treat. You understand
              that you download from, or otherwise obtain content or services through, our Services at your own discretion and risk.</p>

            <h2>7. Limitation of Liability.</h2>

            <p>In no event will crowdAI, or its suppliers or licensors, be liable with respect to any subject matter of this Agreement under any contract, negligence, strict liability or other legal or equitable theory for: (i) any special, incidental or
              consequential damages; (ii) the cost of procurement for substitute products or services; (iii) for interruption of use or loss or corruption of data; or (iv) for any amounts that exceed the fees paid by you to crowdAI under this agreement during
              the twelve (12) month period prior to the cause of action. crowdAI shall have no liability for any failure or delay due to matters beyond their reasonable control. The foregoing shall not apply to the extent prohibited by applicable law.</p>

            <h2>8. General Representation and Warranty.</h2>

            <p>You represent and warrant that (i) your use of our Services will be in strict accordance with the crowdAI Privacy Policy, with this Agreement, and with all applicable laws and regulations (including without limitation any local laws or
              regulations in your country, state, city, or other governmental area, regarding online conduct and acceptable content, and including all applicable laws regarding the transmission of technical data exported from the United States or the country in
              which you reside) and (ii) your use of our Services will not infringe or misappropriate the intellectual property rights of any third party.</p>

            <h2>9. US Economic Sanctions.</h2>

            <p>You expressly represent and warrant that your use of our Services and or associated services and products is not contrary to applicable U.S. Sanctions. Such use is prohibited, and crowdAI reserve the right to terminate accounts or access of
              those in the event of a breach of this condition.</p>

            <h2>10. Indemnification.</h2>

            <p>You agree to indemnify and hold harmless crowdAI, its contractors, and its licensors, and their respective directors, officers, employees, and agents from and against any and all claims and expenses, including attorneys’ fees, arising out of
              your use of our Services, including but not limited to your violation of this Agreement.</p>

            <h2>11. Translation.</h2>

            <p>These Terms of Service were originally written in English (US). We may translate these terms into other languages. In the event of a conflict between a translated version of these Terms of Service and the English version, the English version will
              control.</p>

              <br/><br/>

          </div>
        </div>
