<footer>
  <div class="row">
    <a class="logo-footer" href="http://epfl.ch/">
      <%= image_tag 'epfl-logo.png' %>
    </a>
    <p class="copyright">&#9400; 2017 crowdAI</p>
    <ul class="social">
      <li><a href="https://twitter.com/crowd_ai"><i class="fa fa-twitter fa-lg" aria-hidden="true"></i></a></li>
      <li><a href="https://github.com/crowdAI"><i class="fa fa-github fa-lg" aria-hidden="true"></i></li>
    </ul>
    <ul class="links">
      <li><%= link_to 'Contact', pages_contact_path %></li>
      <li><%= link_to 'Privacy', pages_privacy_path %></li>
      <li><%= link_to 'Terms of Service', pages_terms_path %></li>
    </ul>
  </div>
</footer>
