<div>
  <div class="list-container">
    <div class='article-filter-container'>
      <div class="row">
        <div class="col-md-4 col-xs-12">
          <%= search_form_for @query do |f| %>
            <%= f.select :category_eq, options_for_select(Article::CATEGORIES.sort.map {|k,v| [v,k]}, @query.category_eq), {include_blank: 'All articles'},  { onchange: 'this.form.submit();', class: "form-control"} %>
          <% end %>
        </div>
      </div>
    </div>


    <ul class="list-items">
      <% @articles.each do |article| %>
        <%= render partial: 'articles/index/article', locals: { article: article } %>
      <% end %>
    </ul>
  </div>
</div>
