<div class='content'>
  <%= concept(Challenge::Cell::ChallengeMasthead,
                @challenge,
                current_participant: current_participant) %>
  <%= concept(Challenge::Cell::ChallengeSubnav,
                @challenge,
                tab: 'submissions',
                current_participant: current_participant) %>

  <div class="row">
    <table class="leaderboard">
      <thead>
        <tr>
          <th>ID</th>
          <th class="participant">Participant</th>
          <th>Status</th>
          <th>Message</th>
          <th class="last-submission">Submission (UTC)</th>
        </tr>
      </thead>
      <tbody>
        <%= render partial: 'submissions' %>
      </tbody>
    </table>
    <%= render partial: 'shared/load_more', locals: { collection: @submissions } %>
  </div>
</div>
