<div class="content">
	<div class="masthead">
		<div class="row">
			<div class="info">
				<h6><%= @challenge.challenge %></h6>
				<h2>Create Submission</h2>
			</div>
		</div>
	</div>

  <% if @submissions_remaining == 0 %>
    <%= render partial: 'submissions/new/no_submissions' %>
  <% else %>
    <% if @challenge.organizer.clef? %>
      <%= render partial: 'submissions/new/clef_form' %>
    <% else %>
      <%#= render partial: 'submissions/new/form' %>
    <% end %>
  <% end %>
</div>
