<div class='content'>
  <%= concept(Challenge::Cell::ChallengeMasthead,
                @challenge,
                current_participant: current_participant) %>
  <%= render partial: 'challenges/show/subnav',
        locals: { challenge: @challenge } %>

  <% if @challenge.dataset_note.present? %>
    <div class='row'>
      <div class="leaderboard-note">
        <%= sanitize(@challenge.dataset_note) %>
      </div>
    </div>
  <% end %>

  <div class="row">
    <ul class="list-datasets">
        <%= concept(Dataset::Cell::ListDetail,
                      collection: @dataset_files,
                      current_participant: current_participant) %>
    </ul>
  </div>
</div>
