<div class='content'>
  <%= concept(Challenge::Cell::ChallengeMasthead,
                @challenge,
                current_participant: current_participant) %>
  <%= render partial: 'challenges/show/subnav',
        locals: { challenge: @challenge } %>
  <%#= concept(Challenge::Cell::ChallengeSubnav,
                @challenge,
                tab: 'dataset',
                current_participant: current_participant) %>

  <div class="row">
    <ul class="list-datasets">
        <%= concept(Dataset::Cell::ListDetail,
                      collection: @dataset_files,
                      current_participant: current_participant) %>
    </ul>
  </div>
</div>
