<div role="tabpanel" class="tab-pane" id="datasets">

  <h1>Datasets</h1>
  <%= f.simple_fields_for :datasets do |dataset| %>
    <%= render 'competitions/form/dataset_fields', f: dataset %>
    <%= link_to_add_association 'add dataset', f, :datasets,  html_options = { partial: 'competitions/form/dataset_fields', class: 'btn btn-default' } %>
  <% end %>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>

</div>
