<div role="tabpanel" class="tab-pane" id="prizes">
  <h1>Prizes</h1>
  <%= f.input :prizes, as: :bootsy, input_html: { rows: 10 } %>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
</div>
