<div role="tabpanel" class="tab-pane" id="submission-instructions">
  <h1>Submission Instructions</h1>
  <%= f.input :submission_instructions, as: :bootsy, input_html: { rows: 10 }, label: false %>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
</div>
