AWS_REGION: "example"
CROWDAI_API_KEY: "example"

development: &development
  HOST: 'http://localhost:3000'
  AWS_S3_BUCKET: "example"
  GRADER: "http://localhost:3000"
  SMTP_ADDRESS: "example"
  SMTP_DOMAIN: "example"
  SMTP_PASSWORD: "example"
  SMTP_USERNAME: "example"
  MANDRILL_KEY: "example"
  MAILCHIMP_API_KEY: "example"
  MAILCHIMP_LIST_ID: "example"
  AWS_ACCESS_KEY_ID: "example"
  AWS_SECRET_ACCESS_KEY: "example"
  DEVISE_SECRET_KEY: "example"
  SECRET_KEY_BASE: "example"

test:
  <<: *development
