AWS_REGION: "REDACTED"
CROWDAI_API_KEY: "8c69ef80a5eb4438ec326d200ce6ab39"

development: &development
  HOST: 'http://localhost:3000'
  AWS_S3_BUCKET: "REDACTED"
  AWS_S3_SHARED_BUCKET: "REDACTED"
  GRADER: "REDACTED"
  SMTP_ADDRESS: smtp.mandrillapp.com
  SMTP_DOMAIN: localhost
  SMTP_PASSWORD: "REDACTED"
  SMTP_USERNAME: "REDACTED"
  MANDRILL_KEY: "REDACTED"
  MAILCHIMP_API_KEY: "REDACTED"
  MAILCHIMP_LIST_ID: "REDACTED"
  AWS_ACCESS_KEY_ID: "REDACTED"
  AWS_SECRET_ACCESS_KEY: "REDACTED"
  DEVISE_SECRET_KEY: "bf2c609dce6a10cd29b36c7e639d0e34"
  SECRET_KEY_BASE: "b40bed63477347e21a257ced8760f305"

test:
  <<: *development

staging:
  HOST:  "REDACTED"
  SMTP_DOMAIN: crowdai.org
  SMTP_PORT: "REDACTED"
  AWS_S3_BUCKET: "REDACTED"
  AWS_ACCESS_KEY_ID: "REDACTED"
  AWS_SECRET_ACCESS_KEY: "REDACTED"
  REDISTOGO_URL: "REDACTED"
  DEVISE_SECRET_KEY: "REDACTED"
  RAILS_ENV: "REDACTED"
  RACK_ENV: "REDACTED"
  MANDRILL_KEY: "REDACTED"
  MAILCHIMP_API_KEY: "REDACTED"
  MAILCHIMP_LIST_ID: "REDACTED"
  SECRET_KEY_BASE: "REDACTED"
  RORVSWILD_APP_ID: "REDACTED"
  RORVSWILD_API_KEY: "REDACTED"
  GRADER: "REDACTED"
  CLOUDFRONT_ASSETS_DOMAIN: "REDACTED"
  CLOUDFRONT_IMAGES_DOMAIN: "REDACTED"

production:
  HOST: 'https://www.crowdai.org'
  SMTP_ADDRESS: smtp.mandrillapp.com
  SMTP_DOMAIN: crowdai.org
  SMTP_PASSWORD: "REDACTED"
  SMTP_PORT: "REDACTED"
  SMTP_USERNAME: "REDACTED"
  AWS_S3_BUCKET: "REDACTED"
  MANDRILL_KEY: "REDACTED"
  MAILCHIMP_API_KEY: "REDACTED"
  MAILCHIMP_LIST_ID: "REDACTED"
  AWS_ACCESS_KEY_ID: "REDACTED"
  AWS_SECRET_ACCESS_KEY: "REDACTED"
  MAINTENANCE_PAGE_URL: "REDACTED"
  GOOGLE_ANALYTICS_KEY: "REDACTED"
  REDIS_PROVIDER: REDISTOGO_URL
  REDISTOGO_URL:  "REDACTED"
  DEVISE_SECRET_KEY: "REDACTED"
  RAILS_ENV: "REDACTED"
  RACK_ENV: "REDACTED"
  ROLLBAR_ACCESS_TOKEN: "REDACTED"
  SECRET_KEY_BASE: "REDACTED"
  GRADER: "REDACTED"
  AWS_S3_SHARED_BUCKET: "REDACTED"
  CLOUDFRONT_ASSETS_DOMAIN: "REDACTED"
  CLOUDFRONT_IMAGES_DOMAIN: "REDACTED"
