<nav class="navbar navbar-default navbar-inverse navbar-static-top">
  <div class="brand-container">
    <div class="navbar-header">
      <a class="navbar-brand" href="/"></a>
    </div>
  </div>
  <div>
    <ul class="nav navbar-nav pull-right">
      <li><%= link_to "Join", new_participant_registration_path %></li>
      <li><%= link_to "Sign In", new_participant_session_path %></li>
    </ul>
  </div>
</nav>
