<nav class="navbar navbar-default navbar-static-top">
  <div class="navbar-header">
    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#crowdai-navbar-collapse" aria-expanded="false">
      <span class="sr-only">Toggle navigation</span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
    <a class="navbar-brand" href="/"></a>
  </div>

  <div class="collapse navbar-collapse" id="crowdai-navbar-collapse">
    <% if content_for?(:sidebar) %>
      <%= render 'layouts/navbars/mobile_sidebar_menu' %>
    <% else %>
      <%= render 'layouts/navbars/mobile_menu' %>
    <% end %>
  </div>
</nav>
