<div class='row' data-cell='ParticipantClefTask::Cell::ListDetail'>
  <div class='article'>
    <h2>EAU approval pending</h2>
    <p>The approval of your completed End User Agreement (EUA) document is pending. As soon as an ImageCLEF organizer approves the document, you will get access to the dataset.</p>

    <p>After the approval of your completed EUA document by an ImageCLEF organizer, you will get access to the dataset. You will also be automatically registered with CLEF, the main organizer of all CLEF labs.</p>
  </div>
</div>
