<!--Detail share start -->
<div class="detail-share">
  <div>
    <span>Share</span>
    <input
      id="shortUrl"
      type="text"
      style="display:none; position: relative; left: -10000px;"
      value='<%= "#{request.base_url}/#{submission.short_url}" %>' >
    <button
      onclick="copyLink()"
      class='btn btn-secondary'>Get URL</button>
  </div>
  <div>
    <a class="btn btn-secondary btn-facebook" href="#"><i class="fa fa-facebook-official" aria-hidden="true"></i></a>
    <a class="btn btn-secondary btn-twitter" href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a>
  </div>
</div>
<!--Detail add comment end-->
