<% if submission.meta.present? &&  submission.meta["public"].present? %>
  <%= content_tag :div,
    nil,
    id: "meta",
    data: { meta: submission.meta["public"] } %>
<% end %>


<% if policy(submission).update? && submission.meta.present? %>
  <h4>Meta tags</h4><br/>
  <ul>
  <% submission.meta.each do |k,v| %>
    <li><b><%= k %>: </b><%= v %></li>
  <% end %>
  </ul>
<% end %>
  