<div class='content'>
  <%= concept(Challenge::Cell::ChallengeMasthead,
                @challenge,
                current_participant: current_participant) %>
  <%= render partial: 'challenges/show/subnav',
        locals: { challenge: @challenge } %>
  <br/>
  <div class="row">
    <div class='markdown-wrap'>
      <%= sanitize(@challenge.winner_description) %>
    </div>
  </div>
</div>
