.category-badge {
  padding: .1em .3em .1em;
  border-radius: .2em;
  display: inline-block;
  text-align: center;
  background-color: $brand-primary;
  color: $crowdai-bg-white;
  @include media(">=phone", "<=tablet") {
    font-size: 70%;
  }
  @include media(">tablet") {
    font-size: 100%;
    font-weight: 300;
  }
}


.article-header-subheading {
  padding-top: 10px;
  color: $brand-primary;
  font-size: 100%;
  text-transform: uppercase;
  font-weight: 500;
}

.article-filter-container {
  @include media(">=phone", "<=tablet") {
    margin-left: 6px;
    padding-right: 6px;
  }
  @include media(">tablet") {
    margin-left: 10px;
  }
}



.article-list-detail {
  color: $crowdai-text-light;
  font-size: 14px;


  h2 {
    margin-bottom: 0px;
  }
}
