/* show / edit page */

.challenge-header {
  background-color: $crowdai-bg-medium-grey;
  overflow: hidden;;
  padding-top: 60px;
  padding-bottom: 60px;
  padding-left: 150px;
  padding-right: 150px;
  height: auto;


  @media (max-width: 480px) {
    padding-top: 10px;
    padding-left: 20px;
    padding-right: 20px;
    height: auto;
  }
}


.challenge-image-column {
  height: 140px;
}

.challenge-image {
  height: 110px;
  float: left;
  margin-right: 50px;
  @include media("<=phone") {
    float: none;
  }
  @include media(">phone") {

  }
}

.challenge-info {
  display: inline-block;
  padding-bottom: 20px;
}

.challenge-stats {
  padding-top: 20px;
  margin-right: 30px;
  color: $crowdai-text-light;
  @include media("<=phone") {
    padding-left: 10px;
    padding-right: 10px;
    float: left;
    height: auto;
  }
  @include media(">phone") {
    float: right;
    height: 140px;
    padding-left: 20px;
  }

}


.challenge-badge {
  padding: .2em .6em .3em;
  border-radius: .2em;
  display: inline-block;
  font-weight: bold;
  text-align: center;
  color: $crowdai-bg-white;
  @include media(">=phone", "<=tablet") {
    font-size: 70%;
    width: 100px;
  }
  @include media(">tablet") {
    font-size: 100%;
    width: 120px;
  }
}


.challenge-badge.draft {
  background-color: #40D2FF;
}


.challenge-badge.running {
  background-color: $brand-success;
}


.challenge-badge.completed {
  background-color: $brand-primary
}


.challenge-badge.perpetual {
  background-color: $brand-warning;
}

.challenge-badge.starting_soon {
  background-color: #FF8C00;
}


.challenge-list-detail {
  margin-bottom: 20px;
  color: $crowdai-text-light;
  font-size: 14px;
}


.challenge-list-image {
  min-width: 75px;
  min-height: 75px;
  margin: 10px;
}


.challenge-history {
  background-color: $crowdai-red-lighter;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 5px;
  padding-right: 5px;
}
