/* show / edit page */
.challenge-header {
  padding-top: 60px;
  background-color: $crowdai-bg-medium-grey;
  height: 370px;
}


.enclosure {
    display: inline-block;
    background-color: $crowdai-bg-medium-grey;
}


.image-container {
    height: 0;
    padding-bottom: 100%;
    background-color: silver;
    border-radius: 50%;
    @include media(">=phone", "<=tablet") {
      width: 90px;
    }
    @include media(">=tablet") {
      width: 110px;
    }
    overflow: hidden;
    position: relative;
    background-color: white;
}


.image-container img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}


/* index page */
.challenges-container {
  max-width: 750px;
  @include media(">=phone", "<=tablet") {
    margin: 10px auto;
  }
  @include media(">tablet") {
    margin: 20px auto;
  }
}

ul.challenges-list {
  margin: 0px;
  padding: 0px;
}


ul.challenges-list li {
  background: $crowdai-bg-medium-grey;
  display: block;
  border-radius: 2px 2px 2px 2px;
  -webkit-box-shadow: 0 10px 6px -6px #000;
  -moz-box-shadow: 0 10px 6px -6px #000;
  box-shadow: 0 10px 6px -6px #a9a9a9;
  @include media(">=phone", "<=tablet") {
    padding: 5px;
    margin: 5px;
  }
  @include media(">tablet") {
    width: 675px;
    padding: 20px;
    margin: 10px;
  }
}


.challenge-badge {
  padding: .2em .6em .3em;
  border-radius: .2em;
  display: inline-block;
  font-weight: bold;
  text-align: center;
  color: $crowdai-bg-white;
  @include media(">=phone", "<=tablet") {
    font-size: 70%;
    width: 60px;
  }
  @include media(">tablet") {
    font-size: 100%;
    width: 85px;
  }
}


.challenge-badge.draft {
  background-color: #40D2FF;
}


.challenge-badge.running {
  background-color: $brand-success;
}


.challenge-badge.completed {
  background-color: $brand-primary
}


.challenge-badge.perpetual {
  background-color: $brand-warning;
}


.challenge-list-detail {
  margin-bottom: 20px;
  color: $crowdai-text-light;
}


.challenge-list-image {
  min-width: 75px;
  min-height: 75px;
  margin: 10px;
}
