.challenge-header {
  padding-top: 60px;
  background-color: $crowdai-bg-medium-grey;
  height: 370px;
}


#enclosure {
    display: inline-block;
    background-color: $crowdai-bg-medium-grey;
}

#image-container {
    height: 0;
    padding-bottom: 100%;
    background-color: silver;
    border-radius: 50%;
    width: 100px;
    overflow:hidden;
    position:relative;
    background-color: white;
}

#image-container img {
  position:absolute;
  top:50%;
  left:50%;
  transform:translate(-50%,-50%);
}
