.intro {
  color: inherit;
  background-color: $crowdai-bg-medium-grey;
  padding: 48px 30px;
  padding-bottom: 5vw;
  height: 30vw;
}

.intro .container {
  height:  15vw;
  background: image-url('crowdai_definition') no-repeat center;
  background-size: 80%;
}

.intro h1 {
  color: $crowdai-text-dark;
  text-align: center;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 24pt;
  font-weight: bold;
}

.intro h5 {
  color: $crowdai-text-dark;
  text-align: center;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 18pt;
}
