.challenge-badge {
  padding: .2em .6em .3em;
  border-radius: .2em;
  width: 85px;
  display: inline-block;
  font-weight: bold;
  text-align: center;
  color: $crowdai-bg-white;
}

.challenge-badge.draft {
  background-color: $brand-info;
}

.challenge-badge.running {
  background-color: $brand-primary;
}

.challenge-badge.completed {
  background-color: $brand-success;
}

.challenge-badge.perpetual {
  background-color: $brand-warning;
}


.challenge-list-detail {
  margin-bottom: 20px;
}

.challenge-list-image {
  min-width: 75px;
  min-height: 75px;
  margin: 10px;
}
