.score {
    color: $brand-primary;
    font-weight: bold;
}

.leaderboard th, .leaderboard td {
    text-align: center;
    border: none !important;
}

.leaderboard th {
    text-align: center;
    background-color: $crowdai-bg-medium-grey;
}

.modal video {
    max-width: 100%;
    max-height: 100%;
}
