<% content_for(:header) do %>
<div class="intro">

  <div class="container"></div>
  <h1>MOVE DATA FORWARD</h1>
  <h5>CrowdAI is a community of samurai scientists offering</h5>
  <h5>unique perspectives on ideas large and small.</h5>
</div>


<% end %>
