<content>
  <div class="masthead">
      <div class="row">
          <div class="info">
              <h2>Host a Challenge</h2>
          </div>
      </div>
  </div>
  <div class="row">
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur lectus diam, congue vel tempus eu, pretium ut nulla. Mauris volutpat augue sed fringilla gravida. Etiam vehicula, lorem sed rutrum scelerisque, dolor nisi volutpat diam, nec congue nulla justo non magna. Suspendisse potenti. Quisque in purus fringilla, mollis nisl vel, efficitur nisi. Cras viverra maximus rutrum. Etiam dignissim arcu at molestie efficitur. Nam sagittis tortor quis eros congue, vel pretium nisl pellentesque. Phasellus mauris leo, iaculis eu aliquet sit amet, facilisis in elit. Integer ultrices aliquam urna, ac mattis risus maximus eget. Maecenas risus risus, lobortis ac eros ut, pretium finibus augue.</p>
    <a class="btn btn-primary" data-remodal-target="modal-lrg">Get started</a>
  </div>
</content>
