<content>
  <div class="masthead">
    <div class="row">
      <div class="info">
        <h2>Host a Challenge</h2>
      </div>
    </div>
  </div>
  <div class="row">
    <div class='article'>
      <h2>
        <strong>crowdAI</strong>
        is the premier open platform for crowdsourcing expert solutions to open data problems.</h2>

      <p>
        Use crowdAI to connect your open data with machine learning and data science specialists, who will unlock the knowledge in your data and deliver production-ready open source solutions.</p>

      <p>We work with organizations with open data, sets including educational institutions, NGOs and private companies. crowdAI hosts your open data and presents it as a challenge for data scientists around the world to compete to produce the most
        accurate, efficient and effective solutions.</p>

      <p>A not-for-profit entity, crowdAI is part of
        <a href="https://www.epfl.ch">EPFL</a>, one of the world’s leading technical universities.</p>

      <a class="btn btn-primary btn-large" href='mailto:info@crowdai.org'>Contact us</a>
      <br/>
    </div>
  </div>
  <br/>
</content>
