<section class="header-section">
  <div class="intro"></div>
</section>

<section class="challenges-container">
  <ul class="challenges-list">
    <% @challenges.each do |challenge| %>
      <%= render challenge %>
    <% end %>
  </ul>
</section>
