<div class="intro">
  <div class="container"></div>
</div>

<div class="container challenge_list">
  <div class="challenges-container">
    <ul class="challenges-list">
      <% @challenges.each do |challenge| %>
        <%= render challenge %>
      <% end %>
    </ul>
  </div>
