<div class="list-container">
  <div class="list-heading">
    <%= link_to 'Challenges', challenges_path %>
  </div>
  <ul class="list-items">
    <% @challenges.each do |challenge| %>
      <%= render partial: 'challenges/index/challenge', locals: { challenge: challenge } %>
    <% end %>
  </ul>
</div>

<hr/>

<div class="list-container">
  <div class="list-heading">
    <%= link_to 'Knowledge Base', articles_path %>
  </div>
  <ul class="list-items">
    <% @articles.each do |article| %>
      <%= render partial: 'articles/index/article', locals: { article: article } %>
    <% end %>
  </ul>
</div>
