<div class="intro">
  <div class="container"></div>
</div>

<div class="container competition_list">
  <div class="competitions-container">
    <ul class="competitions-list">
      <% @competitions.each do |competition| %>
        <%= render competition %>
      <% end %>
    </ul>
  </div>
