<content id='home'>
  <div class="row">
    <h1>Solve real-world problems <br>using open data</h1>
    <p class="large">crowdAI connects data science experts and enthusiasts with open data to solve specific problems, through challenges.</p>
  </div>
  <div class="row button-group">
    <%= link_to "Sign up", new_participant_registration_path, class: "btn btn-primary btn-large" %>
    <%= link_to "Host a Challenge", landing_page_host_path, class: 'btn btn-secondary btn-large' %>
  </div>

  <div class="row">
    <div class="section-header">
      <h3>Challenges</h3>
      <%= link_to 'See all', challenges_path, class: "btn btn-secondary" %>
    </div>

    <ul class="list-challenges">
      <%= concept(Challenge::Cell::ListDetail, collection: @challenges) %>
    </ul>
  </div>
</content>
