<div class="sub-nav">
  <div class="row">
    <ul>
      <li class="active">Overview</li>
      <li><a href="#">Leaderboard</a></li>
      <li><a href="#">Discussion</a></li>
      <li><a href="#">Dataset</a></li>
    </ul>
    <a class="btn btn-primary" href="#">Submit Entry</a>
  </div>
</div>
