<div class="row">
  <ul class="list-challenges">
    <%= concept(Challenge::Cell::ListDetail, collection: challenges) %>
  </ul>
</div>

<% unless challenges.last_page? %>
  <div id="load-more">
    <%= link_to "Load more", load_more_challenges_path(page: challenges.next_page), remote: true %>
  </div>
<% end %>
