<div class="sub-nav">
  <div class="row">
    <ul>
      <li class="active">All <sup><%= all_challenges %></sup></li>
      <li><a href="#">Active <sup><%= active_challenges %></sup></a></li>
      <li><a href="#">Completed <sup><%= completed_challenges %></sup></a></li>
    </ul>
  </div>
</div>
