<header>
      <div class="row">
          <div class="branding">
              <a class="logo" href="#" title=""></a>
          </div>
          <div class="search">
              <form id="search-box" method="get" action="">
                  <label>
                      <input id="search-bar" type="search" name="search" placeholder="Search crowdAI">
                      <span class="fa fa-lg"></span>
                  </label>
              </form>
              <a class="search-open fa fa-search fa-lg" href="#"></a>
          </div>
          <div id="mobile-search-overlay">
              <a class="search-open fa fa-search fa-lg" href="#"></a>
              <form method="get" action="">
                  <input type="search" name="search" placeholder="Search crowdAI">
              </form>
              <a id="search-close" class="fa fa-times fa-lg" href="#"></a>
          </div>
          <div class="user">
              <a id="toggle-user" href="#"><img src="assets/users/user-2.jpg"alt=""></a>
              <div id="user-container">
                  <ul>
                      <li><a href="#">Jason Reynolds</a></li>
                      <li><a href="#">Account Settings</a></li>
                      <li><a href="#">Log Out</a></li>
                  </ul>
              </div>
          </div>
    
          <nav class="primary">
              <ul>
                  <li><a href="#">Challenges</a></li>
                  <li><a href="#">Knowledge Base</a></li>
              </ul>
          </nav>
          <div class="menu">
              <a id="mobile-nav" href="#"><i class="fa fa-bars fa-lg" aria-hidden="true"></i></a>
          </div>
      </div>
      <nav class="mobile-primary">
          <div id="mobile-nav-header">
              <div class="row">
                  <a class="logo" href="#" title=""></a>
                  <a id="mobile-nav" href="#"><i class="fa fa-times fa-lg" aria-hidden="true"></i></a>
              </div>
          </div>
          <ul>
              <li><h3><a href="#">Challenges</a></h3></li>
              <li><h3><a href="#">Knowledge Base</a></h3></li>
          </ul>
          <ul>
              <li><h4><a href="#">Jason Reynolds</a></h4></li>
              <li><h4><a href="#">Account Settings</a></h4></li>
              <li><h4><a href="#">Log Out</a></h4></li>
          </ul>
      </nav>
  </header>
