<header data-cell='Header::Cell'>
  <div class="row">
    <div class="branding">
      <a class="logo" href="/" title=""></a>
    </div>

    <%= participant_dropdown %>

    <nav class="primary">
      <%= desktop_links %>
    </nav>
    <div class="menu">
      <a id="mobile-nav" href="#"><i class="fa fa-bars fa-lg" aria-hidden="true"></i></a>
    </div>
  </div>
  <nav class="mobile-primary">
    <div id="mobile-nav-header">
      <div class="row">
        <a class="logo" href="#" title=""></a>
        <a id="mobile-nav" href="#"><i class="fa fa-times fa-lg" aria-hidden="true"></i></a>
      </div>
    </div>
    <%= mobile_links %>
  </nav>
</header>
