<div class="content">
  <%= render partial: 'masthead',
        locals: {
          article: article,
          article_section: article_section } %>
  <%= render partial: 'subnav',
        locals: {
          article: article,
          article_section: article_section } %>
  <div class="row">
    <div class="article">
      <%= sanitize(article_section.description) if article_section.present? %>
    </div>
  </div>
</div>
