<div class="content">
  <%= render partial: 'masthead',
        locals: {
          article: article } %>
  <div class="row">
    <div class="article">
      <%= article.notebook_url %>
    </div>
  </div>
</div>
