<div data-remodal-id="modal" id='modal-anchor'>
  <h1><%= @leaderboard.name %></h1>
  <%= concept(Leaderboard::Cell::Media,@leaderboard, size: :large) %>
  <div>
    <%= simple_format(Submission.find(@leaderboard.submission_id).description) %>
  </div>
	<div class="button-group-fluid-block">
		<button class="btn btn-secondary" data-remodal-action="cancel">Cancel</button>
	</div>
</div>
