<div class='content'>
  <%= render partial: 'profile/masthead', locals: { participant: @participant } %>
  <%= render partial: 'profile/subnav', locals: { participant: @participant } %>

  <div class="row">
    <% if @posts.any? %>
      <ul class="list-tutorials">
        <%= concept(Discussion::Cell::ParticipantComment,
          collection: @posts,
          current_participant: current_participant) %>
      </ul>
    <% else %>
      <div class='article'>
        <p class='light'>
          <%= "#{@participant.name} hasn't made any posts yet..." %>
        </p>
      </div>
    <% end %>
  </div>
</div>
