<div class="button-group">
  <%= f.submit (f.object.new_record? ? "Create Tutorial" : "Update Tutorial"), class: 'btn btn-primary' %>
  <%= link_to 'Cancel', articles_path, class: "btn btn-secondary" %>
</div>
