<div class="button-group">
  <%= f.button (f.object.new_record? ? "Create Tutorial" : "Update Tutorial"), class: 'btn btn-primary' %>
  <a class="btn btn-secondary" href="/articles">Cancel</a>
</div>
