<li>
  <%= link_to challenge_path(challenge) do %>
    <%= challenge.organizer.organizer %><br/>
    <b><%= challenge.challenge %></b><br/>
    <%#= challenge.timeline.start_date %>
    <%#= challenge.timelime.end_date %>
    <span class="badge"><%= challenge.status_cd %></span>
  <% end %>
</li>
