<content>
  <div class="masthead">
    <div class="row">
      <h2>Challenges</h2>
    </div>
  </div>

  <%= concept(Challenge::Cell::ChallengesSubnav, @challenges, challenge_filter: @challenge_filter) %>
  <%= concept(Challenge::Cell::List, @challenge_list) %>
</content>
