<content>
  <div class="masthead">
    <div class="row">
      <h2>Challenges</h2>
    </div>
  </div>
  <%= concept(Challenge::Cell::ChallengesSubnav, @all_challenges, challenge_filter: @challenge_filter) %>
  <div class="row">
    <ul class="list-challenges">
      <%= render partial: 'challenges' %>
    </ul>
  </div>
  <%= render partial: 'shared/load_more', locals: { collection: @challenges } %>
</content>
