<content>
  <div class="masthead">
    <div class="row">
      <h2>Challenges</h2>
    </div>
  </div>

  <%= concept('challenge/cell/stats', @challenges) %>
  <%= concept('challenge/cell/list', @challenges) %>
</content>
