<div class="intro">
  <div class="container"></div>
</div>

<div class="container challenge_list">
  <% if current_participant.organizer_id.present? %>
  <br/>
  <div class="row">
    <div class="col-md-2 col-md-offset-8">
      <%= link_to '+ New Challenge', new_challenge_path, class: 'btn btn-primary outline' %>
    </div>
  </div>
  <% end %>

  <div class="challenges-container">
    <ul class="challenges-list">
      <% @challenges.each do |challenge| %>
        <%= render challenge %>
      <% end %>
    </ul>
  </div>
