<content>
  <div class="masthead">
    <div class="row">
      <h2>Challenges</h2>
      <% if policy(Challenge).new? %>
        <%= link_to "Create a Challenge", new_challenge_path, class: "btn btn-secondary" %>
      <% end %>
    </div>
  </div>

  <%= concept(Challenge::Cell::ChallengesSubnav, @challenges, challenge_filter: @challenge_filter) %>
  <%= concept(Challenge::Cell::List, @challenge_list) %>
</content>
