<section class="header-section">
  <div class="intro"></div>
</section>

<div class="list-container">
  <div class='article-filter-container'>
    <% if policy(Challenge.new).create? %>
    <br/>
    <div class="row">
      <div class="col-md-2">
        <%= link_to '+ New Challenge', new_challenge_path, class: 'btn btn-primary outline' %>
      </div>
    </div>
    <% end %>
  </div>

  <ul class="list-items">
    <% @challenges.each do |challenge| %>
    <%= render partial: 'challenges/index/challenge', locals: { challenge: challenge } %>
    <% end %>
  </ul>
</div>
