<content>
  <div class="masthead">
    <div class="row">
      <h2>Challenges</h2>
    </div>
  </div>

  <%= concept('challenge/cell/challenges_subnav', @challenges, challenge_filter: @challenge_filter) %>
  <%= concept('challenge/cell/list', @challenge_list) %>
</content>
