<h3>Submission Administration</h3>
  <table class='table table-responsive table-hover table-bordered leaderboard sortable'>
    <thead>
      <tr>
        <th>Status</th>
        <th>Files</th>
        <th>Participant</th>
        <th>Score</th>
        <th>Secondary</th>
        <th>Post Challenge?</th>
        <th>Submission UTC</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <% participant_submissions.each do |submission| %>
        <% if challenge.grader_cd == 'manual' && submission.grading_status_cd == 'ready' %>
          <%= render partial: 'leaderboards/index/grading_form_row', locals: { challenge: challenge, submission: submission } %>
        <% else %>
          <%= render partial: 'leaderboards/index/submission_row', locals: { challenge: challenge, submission: submission } %>
        <% end %>
      <% end %>
    </tbody>
  </table>
