.btn {
  border-radius: 3px;
}

/* file upload button */
.btn-file {
    position: relative;
    overflow: hidden;
}

.btn-file input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    font-size: 100px;
    text-align: right;
    filter: alpha(opacity=0);
    opacity: 0;
    outline: none;
    background: white;
    cursor: inherit;
    display: block;
}


// TODO get rid of all these !importants
/* outline buttons */
.outline {
  background: none;
  border: 2px solid $brand-primary;
  color: $brand-primary !important;
}

.outline:hover {
  color: #FFF !important;
  border-color: $brand-primary !important;
  background-color: $brand-primary !important;
}

/* circle buttons */
.btn-circle {
  width: 30px;
  height: 30px;
  text-align: center;
  padding: 6px 0;
  font-size: 12px;
  line-height: 1.428571429;
  border-radius: 15px;
}
.btn-circle.btn-lg {
  width: 50px;
  height: 50px;
  padding: 10px 16px;
  font-size: 18px;
  line-height: 1.33;
  border-radius: 25px;
}
.btn-circle.btn-xl {
  width: 70px;
  height: 70px;
  padding: 10px 16px;
  font-size: 24px;
  line-height: 1.33;
  border-radius: 35px;
}

.btn-white-outline {
  margin-top: 20px;
  background: none;
  border: 1px solid $crowdai-text-white;
  color: $crowdai-text-white;
  font-size: 125%;
  padding-left: 20px;
  padding-right: 20px;
}

.btn-white-outline:hover {
  color: $crowdai-knowledge-header;
  border-color: $crowdai-text-white;
  background-color: $crowdai-text-white;
}
