.mini-calendar {
  width: 55px; height: 40px;
	background: #fcfcfc;
	background: linear-gradient(top, #fcfcfc 0%,#dad8d8 100%);
	background: -moz-linear-gradient(top, #fcfcfc 0%, #dad8d8 100%);
	background: -webkit-linear-gradient(top, #fcfcfc 0%,#dad8d8 100%);
  border: 1px solid #d2d2d2;
	border-radius: 10px;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
  box-shadow: 0px 0px 5px rgba(0,0,0,0.1);
  -moz-box-shadow: 0px 0px 5px rgba(0,0,0,0.1);
  -webkit-box-shadow: 0px 0px 5px rgba(0,0,0,0.1);
}

.mini-calendar p {
	font-family: Helvetica, sans-serif;
	font-size: 20px; text-align: center; color: #9e9e9e;
}

.mini-calendar p span {
	background: #d10000;
	background: linear-gradient(top, $brand-primary 0%, #7a0909 100%);
	background: -moz-linear-gradient(top, $brand-primary 0%, #7a0909 100%);
	background: -webkit-linear-gradient(top, $brand-primary 0%, #7a0909 100%);
  font-size: 10px; font-weight: bold; color: #fff; text-transform: uppercase;
  display: block;
  border-top: 3px solid $brand-primary;
	border-radius: 0 10px 10px;
	-moz-border-radius: 0 0 10px 10px;
	-webkit-border-radius: 0 0 10px 10px;
	padding: 6px 0 6px 0;
}
