.container-fluid {
  padding-left: 0px;
  padding-right: 0px;
}


.container-light-grey {
  color: inherit;
  background-color: $crowdai-bg-light-grey;
  padding-left: 0px;
  padding-right: 0px;
  
}

.container-medium-grey {
  color: inherit;
  background-color: $crowdai-bg-medium-grey;
  padding-left: 0px;
  padding-right: 0px;
}
