.container-fluid {
  padding-left: 0px;
  padding-right: 0px;
}

.container-light-grey {
  color: inherit;
  background-color: $crowdai-bg-light-grey;
  padding-left: 0px;
  padding-right: 0px;
}

.container-medium-grey {
  color: inherit;
  background-color: $crowdai-bg-medium-grey;
  padding-left: 20px;
  padding-right: 20px;
}

.page-content-container {
  color: inherit;
  padding: 40px 40px 40px 40px;
}


.calendar-container-left {
  clear: left;
}

.calendar-container-right {
  clear: right;
}

.white-background-fix {
  background-color: $crowdai-bg-white;
}


// equal column height
// https://scotch.io/bar-talk/different-tricks-on-how-to-make-bootstrap-columns-all-the-same-height
.row.equal-col-height {
    overflow: hidden;
}

.row.equal-col-height [class*="col-"]{
    margin-bottom: -99999px;
    padding-bottom: 99999px;
}
