.navbar-footer {
  margin-bottom: 0;
  border-radius: 0px;
  background-color: black;
  color: white;
  border-bottom: 1px solid rgba(230, 230, 230, 0.7);
  display: block;
  padding-top: 40px;
  @media(min-width: $screen-sm) {
    min-height: 250px;
    padding-top: 75px;
  }
}


.links-container {
  border-top-style: solid;
  border-top-width: 1px;
  border-top-color: white;
  padding-top: 10px;
}

.links-container > ul {
  -webkit-padding-start: 0px;
}


.links-container > ul > li {
  list-style-type: none;
  text-align: center;
  @media(min-width: $screen-sm) {
    display: inline;
    padding-left: 20px;
  }  
}

.links-container > ul > li > a {
  text-decoration: none;
  color: white;
}
