.navbar-footer {
  margin-bottom: 0;
  border-radius: 0px;
  background-color: black;
  color: white;
  border-bottom: 1px solid rgba(230, 230, 230, 0.7);
  display: block;
  @include media(">tablet") {
    min-height: 250px;
  }
}


.links-container {
  border-top-style: solid;
  border-top-width: 1px;
  border-top-color: white;
  padding-top: 10px;
}

.links-container > ul {
  -webkit-padding-start: 0px;
}


.links-container > ul > li {
  @include media(">=phone", "<=tablet") {
    list-style-type: none;
    text-align: center;
  }
  @include media(">tablet") {
    display: inline;
    padding-left: 20px;
  }
}

.links-container > ul > li > a {
  text-decoration: none;
  color: white;
}
