.markdown-wrap {
    word-wrap: break-word;
}

.markdown-wrap a {
  color: $crowdai-red-dark;
  text-decoration: none;
}

.markdown-wrap a:hover {
  color: $crowdai-red-dark;
  text-decoration: underline;
}

.markdown-wrap table {
    border:           #ccc 1px solid;
    margin-top:       10px;
    margin-bottom:    10px;
    padding:          18px;
    text-align:       center;
}


.markdown-wrap table th {
    text-align:         center;
    background-color:   $crowdai-bg-medium-grey;
    border:             1px solid #e0e0e0;
    padding:            20px;
}

.markdown-wrap table tr {

}

.markdown-wrap table td {
  border:               #ccc 1px solid;
  padding:              20px;
}
