.navbar {
  margin-bottom: 0;
  min-height: 60px;
  border-radius: 0px;
  background-color: #fff;
  border-bottom: 1px solid rgba(230, 230, 230, 0.7);
  padding: 0px 20px 0px 20px;
  display: block;
}


.navbar-underline:hover {
  color: black !important;
  border-bottom: 3px solid;
  border-bottom-color: #FF4E48;
  margin-bottom: 10px;
  padding-bottom: 10px;
}


#avatar-menu {
  color: black !important;
  border-bottom: none;
  margin-bottom: 10px;
  padding-bottom: 10px;
  background-color: #fff;
}


.dropdown-menu {
  min-width: 0;
  padding: 0;
  padding-top: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
  padding-bottom: 10px;
}


.navbar-nav > li > a.btn {
  margin-top: 35px;
  margin-left: 5px;
  padding-top: 0px;
  padding-bottom: 0px;
  line-height: 30px;
}


.nav.navbar-nav.pull-right {
  margin-right: 40px;
}


.navbar-profile-img {
    position: relative;
    top: -5px;
    float: left;
    left: -5px;
}


.brand-container {
  padding-left: 30px;
}


.navbar-brand
{
  display: block;
  width: 160px;
  margin-left: 25px !important;
  background: image-url('crowdai_logo_smile.svg') no-repeat right center;
}
