.nav-pills > li.active > a {
  color: black;
  background-color: transparent;;
}

.nav-pills > li.active > a:hover,
.nav-pills a:hover,
.nav-pills a:focus
 {
  background-color: transparent;;
  color: $brand-primary;
  font-weight: 600;
}



.nav-mobile-pills {
  text-align: center;
  ul.nav {
    display: inline-block;
    li {
      display: inline;
      margin-right: 20px;
      margin-left: 20px;
      a {
        float: left;
        padding: 5px;
      }
    }
  }
}


.nav-mobile-tab-content .navbar-nav {
  margin: 0px;
}
