
.navbar {
  margin-bottom: 0;
  min-height: 60px;
  border-radius: 0px;
  background-color: #fff;
  border-bottom: 1px solid rgba(230, 230, 230, 0.7);
  padding: 0px 20px 0px 0px;
  display: block;
}

.navbar-nav > li > a:hover {
  color: black !important;
  border-bottom: 3px solid;
  border-bottom-color: #FF4E48;
  margin-bottom: 10px;
  padding-bottom: 10px;
}

.navbar-nav > li > a {
  &.dropdown-avatar {
    position: relative;
    padding-top: 9px;
    padding-bottom: 9px;
    font-weight: 600;
  }

}

.navbar-profile-img
{
    position: relative;
    top: -5px;
    float: left;
    left: -5px;
}

.brand-container {
  padding-left: 30px;
}

.navbar-brand
{
  display: block;
  width: 146px;
  padding: 0;
  padding-left: 15px;
  background: url('crowdai_logo.svg') no-repeat left center;
}
