/*

.nav-pills > li.active > a {
  color: black;
  background-color: transparent;;
}

.nav-pills > li.active > a:hover,
.nav-pills a:hover,
.nav-pills a:focus
 {
  background-color: transparent;;
  color: $brand-primary;
  font-weight: 600;
}



.nav-mobile-pills {
  text-align: center;
  ul.nav {
    display: inline-block;
    li {
      display: inline;
      margin-right: 20px;
      margin-left: 20px;
      a {
        float: left;
        padding: 5px;
      }
    }
  }
}


.nav-mobile-tab-content .navbar-nav {
  margin: 0px;
}
*/

.navbar-collapse {
    height: 100vh;
}

.mobile-menu li {
  font-size: 18px;
  font-weight: 500;
  line-height: 1.5;
  padding: 7px;
}

/*
.mobile-menu li a:hover,
.mobile-menu a:focus {
  padding: 10px;
  background-color: $crowdai-bg-light-grey;
 */
