.progress {
  height: 45px;
  background-color: $crowdai-bg-white;
  font-size: 14px;
  text-align: center;
  color: $brand-primary;
}

.progress-bar {
  font-size: 14px;
}

.challenge-progress {
  vertical-align: -50%;
}
