
/*
.progress {
  height: 45px;
  background-color: $crowdai-bg-white;
  font-size: 14px;
  text-align: center;
  color: $brand-primary;
  margin-bottom: 0px;
}

.progress-bar {
  font-size: 14px;
}

.challenge-progress {
  vertical-align: -50%;
}

.progress-left-side {
    padding-left: 30px;
    margin-right: 0px !important;
    padding-right: 0px !important;
}
*/
