// landing page, participant profile page
.header-section {
  background-color: $crowdai-bg-medium-grey;
  @include media(">=phone", "<=tablet") {
    min-height: 150px;
    padding: 20px 20px 5px 20px;
  }
  @include media(">tablet") {
    min-height: $crowdai-header-section-height;
    padding-top: 40px;
  }
}

.header-section .intro {
  background: image-url('crowdai_definition') no-repeat center;
  background-size: 80%;
  @include media(">=phone", "<=tablet") {
    height: 150px;
  }
  @include media(">tablet") {
    height: $crowdai-header-section-height;
  }
}

.knowledge-header-section {
  background-color: $crowdai-knowledge-header;
  color: $crowdai-text-white;
  @include media(">=phone", "<=tablet") {
    min-height: 150px;
    padding: 20px 20px 5px 20px;
  }
  @include media(">tablet") {
    min-height: $crowdai-header-section-height;
    padding-top: 70px;
  }
}

.knowledge-header-section .crowdai-head {
  padding-bottom: 5px;
}

.header-text {
  font-size: 20px;
  margin-bottom: 20px;
  font-weight: 200;
  line-height: 1.4;
}

.header-date-text {
  font-size: 12px;
  font-weight: 200;
}
