// landing page, participant profile page
.section-header-large {

}


.section-header-medium {
  background-color: $crowdai-bg-medium-grey;
  height: 350px;
}


.section-footer {

}


.section-sidebar {

}


.intro {
  color: inherit;
  background-color: $crowdai-bg-medium-grey;
  //padding: 30px 30px;
  //padding-bottom: 5vw;
  height: 30vw;

}
