.sidebar-container {
  color: inherit;
  background-color: #F4F4F4;
  padding-left: 50px;
}


ul.nav.nav-stacked.sidebar-menu {
  padding-top: 40px;
  padding-bottom: 40px;
  padding-left: 60px;
}

ul.nav.nav-stacked.sidebar-menu > li > a {
  color: #666666 !important;
  text-decoration: none;
  font-weight: bold;
}


ul.nav.nav-stacked.sidebar-menu > li > a:hover {
  color: red !important;
}
