<div class="md-editor">
  <div class="sub-nav">
    <ul class='md-tabs'>
      <li data-tab='tab-write' class="md-tab active">Write</li>
      <li data-tab='tab-preview' class='md-tab'>Preview</li>
    </ul>
  </div>

  <div id='tab-write' class='md-tab-content active'>
    <%= render partial: 'markdown_editor/toolbar' %>
    <%= capture(&block) %>
    <div class="mde-img">
      <input type="file" accept="image/*">
      <p>Attach images by
        <a href="#">selecting them</a>
      </p>
    </div>
  </div>

  <div id='tab-preview' class='md-tab-content'>
    <div id='md-preview'>preview</div>
  </div>
</div>
