<div class="md-editor-btns">
  <ul>
    <li><button class='md-h1'>h1</button></li>
    <li><button class='md-h2'>h2</button></li>
    <li><button class='md-h3'>h3</button></li>
  </ul>
  <ul>
    <li>
      <button class='md-img'>
        <i class="fa fa-picture-o" aria-hidden="true"></i>
      </button>
    </li>
    <li>
      <button class='md-link'>
        <i class="fa fa-link" aria-hidden="true"></i>
      </button>
    </li>
  </ul>
  <ul>
    <li><button class='md-strong'>B</button></li>
    <li><button class='md-italic'><i>i</i></button></li>
    <li><button class='md-inline-code'>&lt;/&gt;</button></li>
    <li><button class='md-fenced-code'>&lt;/.&gt;</button></li>
  </ul>
  <ul>
    <li>
      <button class='md-unord-list'>
        <i class="fa fa-list-ul" aria-hidden="true"></i>
      </button>
    </li>
    <li>
      <button class='md-ord-list'>
        <i class="fa fa-list-ol" aria-hidden="true"></i>
      </button>
    </li>
    <li>
      <button class='md-blockquote'>
        <i class="fa fa-quote-left" aria-hidden="true"></i>
      </button>
    </li>
  </ul>
</div>
