<div class="md_editor btn-toolbar" role="toolbar">

  <div class="btn-group" role="group">
    <button class="btn btn-default add_strong" title="Bold Text">
      <strong>B</strong>
    </button>
    <button class="btn btn-default add_em" title="Italic Text">
      <em>I</em>
    </button>
  </div>

  <div class="btn-group" role="group">
    <button class="btn btn-default add_h1" title="Heading 1">H1</button>
    <button class="btn btn-default add_h2" title="Heading 2">H2</button>
    <button class="btn btn-default add_h3" title="Heading 2">H3</button>
    <button class="btn btn-default add_h4" title="Heading 2">H4</button>
    <button class="btn btn-default add_h5" title="Heading 2">H5</button>
    <button class="btn btn-default add_h6" title="Heading 2">H6</button>
  </div>

  <div class="btn-group" role="group">
    <button class="btn btn-default add_paragraph" title="New Paragraph">
      <span>P</span>
    </button>
    <button class="btn btn-default add_blockquote" title="Blockquote">
      <strong>"-"</strong>
    </button>
    <button class="btn btn-default add_unord_list" title="Unordered (bulleted) list">
      <span class="glyphicon glyphicon-list"></span>
    </button>
    <button class="btn btn-default add_ord_list" title="Ordered (numbered) list">
      <span class="glyphicon glyphicon-list-alt"></span>
    </button>
  </div>

  <div class="btn-group" role="group">
    <button class="btn btn-default add_link" title="Text Link">
      <span class="glyphicon glyphicon-link"></span>
    </button>
    <button class="btn btn-default add_url_link" title="Clickable URL Link">&#x3C;url&#x3E;</button>
    <button class="btn btn-default add_img" title="Insert Picture from URL">
      <span class="glyphicon glyphicon-picture"></span>
    </button>
  </div>
  <div class="btn-group" role="group">
    <button class="btn btn-default add_inline_code" title="Inline Code Snippet">&#x3C;/&#x3E;</button>
    <button class="btn btn-default add_fenced_code" title="Fenced Code Block">&#x3C;/.&#x3E;</button>
  </div>

</div>
