<div class='content'>
  <div class="masthead">
    <div class="row">
      <h2>Job Board</h2>
    </div>
  </div>
  <div class="row">
    <ul class="list-jobs">
      <% @job_postings.each do |job| %>
        <%= render partial: 'posting', locals: { job: job } %>
      <% end %>
    </ul>
  </div>
</div>
