<table>
  <thead>
    <tr>
      <th><h3>Comments</h3></th>
    </tr>
  </thead>
  <tbody>
    <% comments.each do |comment| %>
    <tr>
      <th>
        <%= link_to comment.topic.topic, new_topic_comment_url(comment.topic) %> by <%= comment.participant.name %>.
      </th>
    </tr>
    <% end %>
  </tbody>
</table>
