<h3>Comments Summary</h3>

<table>
  <tbody>
    <% comments.each do |comment| %>
    <tr>
      <th>
        <%= link_to comment.topic.topic, new_topic_comment_url(comment.topic) %> by <%= comment.participant.name %>.
      </th>
    </tr>
    <% end %>
  </tbody>
</table>
<hr/>
