<h3>Submissions Summary</h3>

<% submission.each do |submission| %>
  <%= link_to submission.challenge.challenge, challenge_url(submission.challenge) %> by <%= submission.participant.name %>.
  <br/>
<% end %>
<hr/>
