<div class='container mailers-container'>
  <div class='row'>
    <div class='col-xs-12'>
      <h2>Mailer Dashboard</h2>
    </div>
  </div>

  <div class='row'>
    <% @mailers.each do |mailer| %>
      <%= link_to mailer_path(mailer) do %>
        <div class='col-xs-4'>
          <div class='panel panel-default'>
            <div class='panel-body'>
              <h3><%= mailer.mailer %></h3>
              <div><%= mailer_status(mailer) %></div>
              <div><%= mailer.emails.count %> emails sent.</div>
            </div>
          </div>
        </div>
        <% end %><%# link_to %>
    <% end %><%# each %>
  </div>
</div>
