<div class='mailers-container'>
  <div class='col-xs-8 col-xs-offset-2'>

    <h3><%= @mailer.mailer %></h3>
    <div><%= mailer_status(@mailer) %></div>
    <div><%= @mailer.emails.count %> emails sent.</div>

    <%= pause_start_button(@mailer) %>

  </div>
</div>



</div>
