<div class='mailers-container'>
  <div class='col-xs-8 col-xs-offset-2'>
    <h3><%= @mailer.mailer %></h3>
    <div><%= mailer_status(@mailer) %></div>
    <div><%= @mailer.emails.count %> emails sent.</div>
  </div>
  <div class='col-xs-10 col-xs-offset-1'>
    <%= render 'table' %>
  </div>
</div>
