/*
Classes to style cookie consent banner */
//.cookies-eu                 /* main div */
//.cookies-eu-content-holder  /* content holder */
//.cookies-eu-button-holder   /* button holder */
//.cookies-eu-ok              /* button */
//.cookies-eu-link            /* link */

$cookies-eu-background-color: #F2F2F2;
$cookies-eu-border-color: #E4E4E4;
$cookies-eu-mobile: 'max-width: 767px';

.cookies-eu {
  line-height: 22px;
  position: fixed;
  z-index: 999;
  right: 0;
  bottom: 0;
  left: 0;
  text-align: center;
  border-top: 1px solid $cookies-eu-border-color;
  background: $cookies-eu-background-color;
  @media ($cookies-eu-mobile) {
    font-size: 12px;
    line-height: 18px;
  }
  .cookies-eu-content-holder {
    display: inline-block;
    padding: 8px 20px;
  }
  .cookies-eu-button-holder {
    display: inline-block;
    padding: 8px 0;
    @media ($cookies-eu-mobile) {
	  	padding: 0 0 8px 0;
	  }
  }
  .btn {
  	font-size: 13px;
    height: 32px;
    line-height: 32px;
    &:first-child {
    	margin-right: 6px;
    }
  }
}
