//
// Icons
//

.award-gold,
.award-silver,
.award-bronze,
.award-empty {
  span {
    display: none;
  }
}

.award-gold {
  background: url('awards/award-gold.svg') no-repeat 0 0;
}

.award-silver {
  background: url('awards/award-silver.svg') no-repeat 0 0;
}

.award-bronze {
  background: url('awards/award-bronze.svg') no-repeat 0 0;
}

.award-empty {
  background: url('awards/award-empty.svg') no-repeat 0 0;
}
