.message {
  margin: 0 0 15px 0 !important;
  padding: 0;
  color: $color-accent-dark;
  font-weight: normal;
}

div.field_with_errors div.ui-effects-wrapper {
  display: inline-block !important;
}

div.field_with_errors input[type=text] {
  border-color: $color-accent;
  margin-bottom: 9px;
}

div.field_with_errors textarea {
  border-color: $color-accent;
  margin-bottom: 9px;
}
