/* Loader */

.loader-container {
	background-color: $color-grey-03;
	display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.loader,
.loader-video {
	background-color: $color-grey-03;
  height: 75px;
  width: 100px;
  text-align: center;
  padding-top: 18px;
  margin: 0 auto;
  display: inline-block;
  vertical-align: top;
}

.loader {
	background-color: transparent;
	width: 400px;
	padding: 0;
	span {
		display: block;
		color: $color-grey-54;
		padding-top: 1em;
	}
}
