/* Section header (e.g., Home Challenges) */

.section-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 73px;
  margin-top: 80px;
  border-bottom: 1px solid $color-grey-10;
  @media screen and (max-width: 640px) {
    height: 48px;
    margin-top: 60px;
  }
  .btn {
    float: right;
  }
}

.section-header-alt {
  margin-top: 32px;
}
