/* Section header (e.g., Home Challenges) */

.section-header {
  height: 73px;
  margin-top: 120px;
  border-bottom: 1px solid $color-grey-10;
  @media screen and (max-width: 1024px) {
    margin-top: 100px;
  }
  @media screen and (max-width: 800px) {
    margin-top: 80px;
  }
  @media screen and (max-width: 640px) {
    height: 48px;
    margin-top: 60px;
  }
  h3 {
    float: left;
    margin-top: 4px;
  }
  .btn {
    float: right;
  }
}