/* Bootstrap variable overrides */
$navbar-height:                 100px;

$brand-primary:                 #FF4E48;
$brand-info:                    #BCBEC0;
$brand-success:                 #5BE875;
$brand-warning:                 #D734F4;

/* Application variables */
$crowdai-red-dark:              #c7254e;
$crowdai-bg-white:              #FFFFFF;
$crowdai-bg-light-grey:         #FCFCFC;
$crowdai-bg-medium-grey:        #F1F2F2;
$crowdai-bg-dark-grey:          #E6E7E8;
$crowdai-bg-darkest-gray:       #EFEFEF;
$crowdai-knowledge-header:      #576175;

$crowdai-text-white:            #FFFFFF;
$crowdai-text-darker:           #58595B;
$crowdai-text-dark:             #666666;
$crowdai-text-light:            #BCBEC0;
$crowdai-light-blue:            #268BD2;


$crowdai-header-section-height: 350px;
//$breakpoints: (phone: 380px, tablet: 768px, desktop: 1024px);
