/* Bootstrap variable overrides */
$navbar-height: 100px;

 $brand-primary:          #FF4E48;
 $brand-info:             #BCBEC0;
 $brand-success:          #5BE875;
// $brand-warning:         #f0ad4e
// $brand-danger:          #d9534f

/* Application variables */

$crowdai-bg-white: #FFFFFF;
$crowdai-bg-light-grey: #FCFCFC;
$crowdai-bg-medium-grey: #F1F2F2;
$crowdai-bg-dark-grey: #E6E7E8;

$crowdai-text-dark: #576175;
$crowdai-text-light: #BCBEC0;
