/* gems */
@import "bootstrap-sprockets";
@import "bootstrap";
@import "font-awesome";
@import "jquery-ui";
@import "include_media";



/* components */
@import "components/alerts";
@import "components/typography";
@import "components/containers";
@import "components/sections";
@import "components/navbar";
@import "components/navbar_mobile";
@import "components/buttons";
@import "components/links";
@import "components/sidebar";
@import "components/footer";
@import "components/page_content";
@import "components/forms";
@import "components/calendars";
@import "components/labels";
@import "components/markdown_editor";
@import "components/images";


/* modules */
@import "modules/authorisation";
@import "modules/challenges";
@import "modules/discussions";
@import "modules/profile";
@import "modules/leaderboard";
@import "modules/articles";
@import "modules/rouge";
@import "modules/lists";


/* site-wide overrides */
body {
    width: 100%;
    height: 100%;
}

html {
    width: 100%;
    height: 100%;
}


/* constrain images to Bootstrap columns */
img { max-width: 100%; }
