@import "compass";
@import "remodal";
@import "site";
@import "subnav_tabs";

.pull-right {
  float: right;
}

.inline-error-message {
  color: red;
}

.flash-messages {
  .notice {
    color: blue;
  }
  .error {
    color: red;
  }
}
