// Variables

$color-accent:      #f0524d;
$color-accent-dark: #d23934;
$color-grey-03:     rgba(0,0,0,0.03);
$color-grey-10:     rgba(0,0,0,0.1);
$color-grey-20:     rgba(0,0,0,0.2);
$color-grey-40:     rgba(0,0,0,0.4);
$color-grey-54:     rgba(0,0,0,0.54);
$color-grey-80:     rgba(0,0,0,0.8);
$color-grey-87:     rgba(0,0,0,0.87);
$color-black:       rgba(0,0,0,1);

// These colors are picked from the screenshot @jason posed
// here : https://github.com/crowdAI/crowdai/issues/571#issuecomment-374510836
$color-red: #F0524D;
$color-yellow: #FA9E33;
$color-green: #23B761;

// Flags
$flag-width: 1.333333333333em !default;
$flag-line-height: 1em !default;
$flag-css-path: 'flags' !default;
$flag-css-png-path: 'flags/png' !default;

// Imports

@import 'reset';
@import 'article';
@import 'badges';
@import 'buttons';
@import 'detail';
@import 'discussion';
@import 'dropdowns';
@import 'flag-core';
@import 'flag-list';
@import 'flex-grid';
@import 'footer';
@import 'forms';
@import 'header';
@import 'home-hero';
@import 'inline_validations';
@import 'layout-atoms';
@import 'layout-molecules';
@import 'lists';
@import 'loader';
@import 'markdown';
@import 'atwho_mentions';
@import 'mastheads';
@import 'md-editor';
@import 'pagination-dots';
@import 'panel';
@import 'progress-bar';
@import 'remodal-default-theme';
@import 'search';
@import 'section-header';
@import 'subnav_tabs';
@import 'tables';
@import 'tooltips';
@import 'typography';
@import '404';

// Gems
@import 'jquery.atwho';
@import "social-share-button";
@import "codemirror";
@import "notebook";
@import "prism";
@import 'cookies';

.cookies-eu-ok {
  background: $color-accent;
  color: #fff;
  border: none;
  &:hover {
    background: $color-accent-dark;
    color: #fff;
    box-shadow: 0px 1px 4px 0px rgba(0,0,0,0.16);
  }
}


// General styles

::-moz-selection {
  background: $color-accent;
  color: #fff;
}

::selection {
  background: $color-accent;
  color: #fff;
}

body {
  background: #fff;
  min-height: 100%;
  position: relative;
  display: flex;
  flex-direction: column;
  color: $color-grey-87;
  font-family: 'Roboto', sans-serif;
  font-size: 15px;
  font-weight: 400;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased !important;
  -moz-font-smoothing: antialiased !important;
  text-rendering: optimizelegibility !important;
  @media screen\0 {
    min-height: none;
    display: block;
    flex-direction: none;
  }
}

.content {
  flex: 1;
  @media screen\0 {
    flex: none;
  }
}

.row {
  max-width: 1196px;
  padding: 0 48px;
  margin: 0 auto;
  @media screen and (max-width: 1024px) {
    padding: 0 40px;
  }
  @media screen and (max-width: 768px) {
    padding: 0 32px;
  }
  @media screen and (max-width: 640px) {
    padding: 0 24px;
  }
  @media screen and (max-width: 480px) {
    padding: 0 16px;
  }
  @media screen and (max-width: 400px) {
    padding: 0 12px;
  }
}

.row:before {
  display: table;
  content: " ";
}

.row:after {
  clear: both;
  display: table;
  content: " ";
}

.detail .row {
  max-width: 800px;
}

a img {
  width: 100%;
  opacity: 1;
  transition: 0.4s;
}

a img:hover {
   opacity: 0.8;
}

.background-grey {
  background: $color-grey-03;
  @media screen and (max-width: 640px) {
    background: #fff;
  }
}

.border-top {
  border-top: 1px solid $color-grey-10;
}

.border-bottom {
  border-bottom: 1px solid $color-grey-10;
}


// Added by Sean
.pull-right {
  float: right;
}

.hidden {
  display: none;
}

//.turbolinks-progress-bar {
//  background-color: #f0524d;
//}

.ellipsis {
  max-width: 640px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.wrapper {
  word-wrap: break-word;
}

.fa-2x {
  font-size: 2em !important;
}

.iframe-wrapper {
    position: relative;
    padding-bottom: 56.25%; /* 16:9 */
    padding-top: 25px;
    height: 0;
}
.iframe-wrapper iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
// http://jsfiddle.net/omarjuvera/8zkunqxy/2/
// https://www.smashingmagazine.com/2014/02/making-embedded-content-work-in-responsive-design/

// Inspired by :
// https://css-tricks.com/snippets/css/simple-and-nice-blockquote-styling/
blockquote {
  background: $color-grey-03;
  border-left: 10px solid $color-accent;
  margin: 1.5em 10px;
  padding: 0.5em 10px;
  quotes: "\201C""\201D""\2018""\2019";
}
blockquote:before {
  color: $color-accent;
  content: open-quote;
  font-size: 4em;
  line-height: 0.1em;
  margin-right: 0.25em;
  vertical-align: -0.4em;
}
blockquote p {
  display: inline;
}
