#flash-messages {
  .flash-notice {
    padding: 20px;
    background-color: #E0FFFF;
  }
  .flash-info {
    padding: 20px;
    background-color: #E0FFFF;
  }
  .flash-error {
    padding: 20px;
    background-color: #FF6347;
  }
  .flash-alert {  color: black;
    padding: 20px;
    background-color: #FFDAB9;
  }
}
