<div id='tab-challenges' class='tab-content active'>

  <div class="row">
    <ul class="list-challenges">
      <%= concept(Participant::Cell::ParticipantChallengesListDetail, collection: challenges) %>
    </ul>
  </div>

</div>
