<div id='tab-articles' class='tab-content'>

  <div class="row">
    <ul class="list-tutorials">
      <%= concept(Participant::Cell::ParticipantArticlesListDetail, collection: articles) %>
    </ul>
  </div>

</div>
