<div id='flash-messages'>
  <% flash.each do |key, value| %>
    <% if ['notice','info'].include?(key) && value.present? %>
      <div class="flash-bar">
        <div class="row">
          <p><%= value %></p>
          <a href="#"><i class="fa fa-times" aria-hidden="true"></i></a>
        </div>
      </div>
    <% end %>
    <% if ['error','alert'].include?(key) && value.present? %>
      <div class="flash-bar-error">
        <div class="row">
          <p><%= value %></p>
          <a href="#"><i class="fa fa-times" aria-hidden="true"></i></a>
        </div>
      </div>
    <% end %>
  <% end %>
</div>
<% flash.clear %>
