</div>

<nav class="navbar navbar-footer navbar-static-bottom" role="navigation">
<br/>
<br/>
<br/>
<br/>
<div class="row">
  <div class="col-md-5 col-md-offset-1">
    <div class="links-container">
      <ul class='pull-right'>
        <li><%= link_to 'Privacy', '#' %></li>
        <li><%= link_to 'Terms & Conditions', '#' %></li>
        <li><%= awesome_link('fa fa-twitter', nil, '#') %></li>
      </ul>
    </div>
  </div>

  <div class="col-md-5 col-md-offset-1">
  </div>
</div>
</nav>
