</div>

<nav class="navbar navbar-footer navbar-static-bottom" role="navigation">
<br/>
<br/>
<br/>
<br/>
<div class="row">
  <div class="col-md-10 col-md-offset-1">
    <div class="links-container">
      <%= link_to image_tag("epfl_2x", height: '60'), 'http://epfl.ch/' %>
      <ul class='pull-right'>
        <li><%= link_to 'Privacy', page_path('privacy') %></li>
        <li><%= link_to 'Terms of Service', page_path('terms') %></li>
        <li><%= awesome_link('fa-twitter', nil, 'https://twitter.com/crowd_ai') %></li>
      </ul>
    </div>
  </div>
</div>
</nav>
