<div id='notification-container'></div>
<%= javascript_pack_tag 'notifications' %>


    <div class="notifications">
      <a id="toggle-notifications" href="#">
        <i class="fa fa-bell fa-lg" aria-hidden="true"></i>
      </a>
      <div id="notification-container">
        <ul>
          <li>
            <a href="#">
              <img src="assets/img/users/user-1.jpg" alt="">
              <span>David Hendry mentioned you in a post</span>
            </a>
          </li>
          <li>
            <a href="#">
              <img src="assets/img/challenges/challenge-2.jpg" alt="">
              <span>Your Learning how to walk submission has been graded with a score of 34.22</span>
            </a>
          </li>
          <li>
            <a href="#">
              <img src="assets/img/users/user-1.jpg" alt="">
              <span>Your OpenFood Ingredients List Challenge submission has failed grading</span>
            </a>
          </li>
          <li>
            <a href="#">
              <img src="assets/img/challenges/challenge-2.jpg" alt="">
              <span>You have moved from 3rd place to 5th place on the Learning to walk</span>
            </a>
          </li>
        </ul>
      </div>
    </div>
